[2020-04-30 11:33] ALITHEALI opened #1 "Question: N + 1 Query issues"
Hello,

This is a great package and thanks for creating this awesome package, now my question is that, does this package handle N + 1 Query issues?

Thanks a lot in advance.
Ali

[2020-04-30 11:39] AhmedElywa commented on #1
The main thing we create this package is facing N + 1 query issue in my private project
Idea here is convert `info: GraphQLResolveInfo` that has query fields come from frontend to be available prisma select object

Example query

[code]
convert to
[code]

with this way you just query what the frontend ask and save your performance
and don't do a lot of `findOne`  for every relation result

[2020-04-30 15:42] ALITHEALI commented on #1
Hello,

Very interesting! Thanks a lot for clearing that up. Is it possible to give an example for converting info to be available prisma select object (your suggested way)?

Thanks a lot in advance!

[2020-04-30 15:44] AhmedElywa commented on #1
It's already in my tools https://github.com/AhmedElywa/prisma-tools/tree/master/packages/select

[2020-05-01 00:24] ALITHEALI commented on #1
This is great! Thanks a lot for all your amazing work!

[2020-05-01 00:24] #1 closed

[2020-05-15 02:06] wuichen opened #24 "Contribution"
Hi I would like to contribute to the project! This is awesome. I have written a small function called createfields that follows your other codes convention  to generate schema.json for admin based on prisma schema. Any guidelines of styles to send a pull request with new features?

[2020-05-15 02:23] AhmedElywa commented on #24
You can send your pull request and add descriptions for your add i will see if it’s help or not then i will test it if everything is good will merge it

Thanks for your work

[2020-05-16 07:48] #24 closed

[2020-06-16 07:58] danhollick opened #103 "Delete - Cannot read property 'find' of undefined."
When using the `Delete` package I get the following error.
`Cannot read property 'find' of undefined.`

My code looks like this:
[code]

I think it' coming from [this line](https://github.com/AhmedElywa/prisma-tools/blob/7768df44341aa03170619eda4033d037e92ece2e/packages/delete/index.ts#L43):
[code]
I think the problem is that `PrismaDelete` expects the schema to be of type `SchemaObject` from your

[2020-06-16 12:37] AhmedElywa commented on #103
Sorry for this confusing I updated my tool to get schema as an object because converting .prisma file every request takes a long time and slow our server.
I just updated docs please take look here https://prisma-tools.ahmedelywa.com/delete/

[2020-06-17 14:18] #103 closed

[2020-06-17 14:19] danhollick commented on #103
Okay cool. Might be nice for it fail with an error message in the future, especially because it depends on another package.

[2020-07-03 15:14] ralvs opened #115 "Any plans to generate plain javascript files?"
I'm trying to migrate a big project from prisma 1 to prisma 2.
Pal.js could help a lot, but I can't migrate the project to typescript right now. Its to much change

[2020-07-03 17:28] AhmedElywa commented on #115
Yes current I working on JavaScript with two syntax es modules and normal Javascript

[2020-07-03 17:30] ralvs commented on #115
Awesome! Thanks @AhmedElywa

[2020-07-06 17:16] Evgenyx82 opened #116 "Question: Subscriptions"
Hi there.
First i want to say, very nice project )

I have a question, how should I use subscriptions?

--
Updated: Got it working. I will post a solution here for next explorers ;) <https://github.com/prisma/prisma-examples/tree/master/typescript/subscriptions-pubsub>

[2020-07-07 01:11] willwillis opened #117 "Possible to display/edit explicit many-to-many relations in Admin?"
I have a few [explicit many-to-many relationships](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema/relations#explicit-many-to-many-relations) in my application, so that I can eventually store details about the relationship. Currently this doesn't seem supported in "Admin" is that correct?

* 0 results are shown when viewing /admin/models/JobsOnSections

[code]

Image 1) Das

[2020-07-07 10:57] AhmedElywa commented on #117
Sorry @willwillis, until now any model did not have `@id`  in one field will be excluded from admin generated schema

[2020-07-08 21:20] willwillis opened #118 "Is UUID supported with the nexus tools?"
I get the following error when attempting to `yarn dev`

[code]

[2020-07-08 23:14] AhmedElywa commented on #118
We just add `DateTime`  any other custom types you need to add manually can you share where you use this type, please?

[2020-07-09 04:53] willwillis commented on #118
I use it as an ID field, as documented here: https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema/data-model#single-field-ids-with-default-values

[2020-07-09 12:56] AhmedElywa commented on #118
But it's reading as `String`

[2020-07-09 14:58] ralvs opened #119 "pal generate creates a lot more files"
Hey guys.
I'm using version 1.0.3 and today the command `pal g` starts creating lots of files like follow
...MaxAggregateOutputType
...MinAggregateOutputType
...SumAggregateOutputType
...AvgAggregateOutputType

How can I stop that?

My pal.js config is
[code]

[2020-07-09 15:42] AhmedElywa commented on #119
Yes it’s because new features in new version 2.2.0 I will upgrade now to feat new version of Prisma

[2020-07-09 17:23] ralvs commented on #119
Ok, @AhmedElywa , understood.
So I think the problem is, I did not enable the experimental flag for aggregations

[code]

And when Paljs creates all these types, I get a lot of erros like unknown type

`Unknown type "ExpenseMaxAggregateOutputTypeWhereInput". Did you mean "ExpenseMaxAggregateOutputType", "ExpenseMinAggregateOutputType", "ExpenseAvgAggregateOutputType", "ExpenseSumAggregateOutputTyp

[2020-07-09 18:26] AhmedElywa commented on #119
@ralvs thanks for your report please use the last version of @paljs/cli v1.0.6 will fix this issue

[2020-07-09 18:30] ralvs commented on #119
Great @AhmedElywa !
I have fixed that downgrading to prisma v2.1.3
Will try update prisma and paljs now.
Thanks

[2020-07-09 18:30] #119 closed

[2020-07-10 13:12] AhmedElywa commented on #119
@ralvs [v1.1.1](https://github.com/paljs/prisma-tools/releases/tag/v1.1.1) support adding `aggregate`

[2020-07-11 16:10] AhmedElywa commented on #118
@willwillis you can add UUID manually https://github.com/olistic/graphql-type-uuid

[2020-07-11 16:10] #118 closed

[2020-07-11 16:11] #116 closed

[2020-07-11 16:11] AhmedElywa commented on #116
Thanks

[2020-07-11 16:12] AhmedElywa commented on #117
will support many-to-many but this table will just have read and add you can't update or delete

[2020-07-20 04:01] adnanfuat opened #120 "Manually write schema.prisma is diffucult"
**"after an update your `schema.prisma` run"**
https://prnt.sc/tkye8g

Is there a way easy way to update schema.prisma with my new database ?

Or I have to do only write manually?
My database big. And write manually is diffucult

[2020-07-20 10:48] AhmedElywa commented on #120
@adnanfuat yes if you have already existing DB you can use `prisma introspect` command to pull you DB into schema.prisma file but you need first to add your DB connection data into schema.prisma file
All docs here https://www.prisma.io/docs/reference/tools-and-interfaces/introspection

If you DB is in Snake case like `first_name` and you want to convert into Camel case like `firstName` you can use

[2020-07-20 13:10] hriziya opened #121 "Schema Error - The directive `@map` can not be used on relation fields"
Need help.

I am using the `pal c` command to create the **apollo-nexus-schema** and then I generated my `prisma.schema` using the `yarn prisma introspect` command and then I have used command `pal schema camel-case` [from here](https://paljs.com/cli/schema)  and then run the command

`yarn generate`

It show me output like this with an error for every foreign key field I have.

`yarn run v1.22.4`

[2020-07-20 14:39] AhmedElywa commented on #121
@hriziya this issue from our camel-case converter
can you please share just the model have this issue before using our cli and after using it

[2020-07-20 15:34] hriziya commented on #121
Before

[code]

After

[code]

[2020-07-20 15:39] AhmedElywa commented on #121
@hriziya can you also send SQL code for medicine table

[2020-07-20 15:40] hriziya commented on #121
Sure. here it is

[code]

[2020-07-20 15:45] AhmedElywa commented on #121
Ok my cli is working perfectly and convert your names to camel case but Prisma did not support @map for relation fields so you need to update `medicineType    MedicineType      @relation(fields: [medicineTypeId], references: [id]) @map("medicine_type")` and make it `medicine_type    MedicineType      @relation(fields: [medicineTypeId], references: [id])`

[2020-07-20 16:27] hriziya commented on #121
Thanks - That's what I understood.  I posted here, to confirm I understand it correctly.
I will give this solution a try and let you know.
Thank you @AhmedElywa

[2020-07-20 23:30] #121 closed

[2020-07-21 13:57] AhmedElywa commented on #120
I will close this issue if you need any other thing please open a new one

[2020-07-21 13:57] #120 closed

[2020-07-22 18:12] willwillis opened #122 "generate:nexus failing for apollo-nexus-schema starter project"
I attempted to create a new pal apollo-nexus-schema app with mysql. All other steps from the `README` completed successfully. Only `src/nexusSchema` is failing with this error:

[code]

[code]

[code]

[code]

`package.json`

[code]

The prisma client seems OK, I can use the client and launch studio just fine.

[2020-08-08 09:26] martineboh opened #125 "Providing usable examples for paljs"
Thanks for your work!

I find it really hard to use `prisma-tools` because enough example code isn't provided, just bunch of interfaces. I have been trying to generate SDL from my `schema.prisma` file for days now with no success using `pal g` command, even after creating pal.json in my root directory with schema.prisma in the prisma directory relative to root.

[2020-08-08 10:44] AhmedElywa commented on #125
If you using pal.json you need to pass his name to `pal g` command like `pal g -c pal.json`  if you using `pal.js` so you can use `pal g` without any custom flags in the command

Also, you not provided any errors message that sees what is wrong with you to help you

[2020-08-08 11:08] martineboh commented on #125
Thanks for responding so quickly. It doesn't show any error, just displayed **Generating your files** in just a second. I am using `pal.js` with content:

[code]
I ran `pal g` in the root directory - it generated src with the wrong Models: Course, Group, Post, Product, User...with their corresponding `typeDefs` and `resolvers.ts` that are not in my `schema.prisma` file

[2020-08-08 11:22] AhmedElywa commented on #125
Talk to me in Prisma slack

[2020-08-08 11:57] AhmedElywa commented on #125
So the problem you need to run `prisma generate` command first before `pal g` command

[2020-08-08 11:57] #125 closed

[2020-08-24 07:53] AhmedElywa commented on #122
@vimutti77 can you provide a minimal reproduction for the issue?

[2020-08-24 09:39] vimutti77 commented on #122
@AhmedElywa This is minimal reproduction https://github.com/vimutti77/Test-PrismaSelect

This is what I found when doing minimal reproduction.

1. The error will occur when there are `many-to-many` relations in `schema.prisma`.
[code]
2. If I add one field in a relation table, the error will disappear.
[code]
3. If I remove `new PrismaSelect(info).value`, the error will disappear.

[2020-08-24 09:44] AhmedElywa commented on #122
Yes this because when we create input types for your models this model PostCategory will be empty and this gives an errors
and when you add any field the input type not be empty so the issues are gone

I will look to good fix for this thanks

[2020-08-27 03:16] 364734461 opened #126 "New features ，I need to customize the 'prisma/client' directory"
@paljs/generator  - New features

Can add a new configuration？To set the "prisma/Client" directory.

[code]

[2020-08-27 14:10] AhmedElywa commented on #126
Yes, It's a good idea

[2020-09-05 15:16] ZenSoftware opened #127 "Requesting upgrade of deprecated `merge-graphql-schemas` dependency to `@graphql-tools/merge`"
+ [x] Feature request

Thank you for the wonderful set of Prisma tools @AhmedElywa.  I am working on a project that is using your suite of tools for a Nest+Angular - GraphQL code gen starter project [@ZenSoftware/Zen](https://zensoftware.github.io/Zen/).  The Nest GraphQL api will serve for schema delegation to the [Pal.js SDL first approach](https://paljs.com/generator/sdl).  You can see your too

[2020-09-05 16:20] AhmedElywa commented on #127
Thanks, @ZenSoftware for your issue I am working right now in upgrade

[2020-09-05 20:23] #126 closed

[2020-09-05 20:32] #127 closed

[2020-09-05 20:33] AhmedElywa commented on #127
you can use the last version `1.2.8`

[2020-09-05 20:34] AhmedElywa commented on #126
Use last version 1.2.8

[2020-09-06 02:48] ZenSoftware commented on #127
Thank you for getting that released on such short notice!  I just finished integrating the new release.  Just a couple things to note here:

1. The old `mergeTypes()` function from the `merge-graphql-schemas` package returned a `string`.
2. The new `mergeTypeDefs()` function from the `@graphql-tools/merge` package returns a `DocumentNode`

It is very simple to print a `DocumentNode` to a string by

[2020-09-06 15:24] AhmedElywa commented on #127
For the type backing from `mergeTypeDefs`, it's not a problem at all. It's working well.
about the version, we didn't have any breaking change in this version to start a new Major version

[2020-09-06 20:00] ZenSoftware commented on #127
Gotcha!  I was importing the `typeDefs.ts` directly from the code generated by `@paljs/cli`.  It must be my particular use case where it is a break change.  I'm glad it is working as expected.

[2020-09-10 09:30] #115 closed

[2020-09-10 10:47] AhmedElywa commented on #115
Now we have support for JavaScript from v 1.3.2. You can use it by adding javascript property to the backend object in the pal.js file.

[code]

[2020-09-15 12:14] Karnich opened #128 "Converting info object from prisma 1 connections to prisma 2"
Hi there

Im trying to upgrade to prisma 2 and ive been using PrismaSelect so that i can take my info object and pass it to Prisma2.

I ran into the issue where Prisma2 no longer supports connections but i found this: https://github.com/devoxa/prisma-relay-cursor-connection

That seems like it would work, but my info object from the client still has the "connections" stuff in it.. like edges: { no

[2020-09-15 12:25] AhmedElywa commented on #128
Hi @Karnich, can you provide an example of your `findMany` query to understand exactly what you need.
You can modify return object from PrismaSelect

[2020-09-15 12:29] Karnich commented on #128
Thanks @AhmedElywa. Actually when i wrote this question i realized that i had not looked at modifying the object from PrismaSelect. I had only look into modifying it before passing it into PrismaSelect. Doing it after was pretty easy! 👍

[2020-09-15 12:29] #128 closed

[2020-09-21 10:09] kuksik opened #129 "Default fields for nested entities"
Whether it exists common approach how to add default fields to the entities? I have implemented something like:

`
# schema.prisma
    model User {
        id                                    string                 @id @default(cuid())
       organization                   Organization     @relation(fields: [organizationId], references: [id])
       organizationId                string
    }

[2020-09-21 10:38] AhmedElywa commented on #129
@kuksik, Thanks for your issue. It explains a good idea.

we can make an object have your customization for all models like

[code]

and you can pass it to PrismaSelect class, and when every time we need to select this model, we look to this schema and add default fields in your custom object

[2020-09-21 11:06] kuksik commented on #129
@AhmedElywa cool! I thought about the same approach. Can i help with something?

[2020-09-21 11:36] AhmedElywa commented on #129
I changed my approach. it will be like

[code]

[2020-09-21 11:58] AhmedElywa commented on #129
Please try version 1.5.0

[2020-09-21 15:01] #129 closed

[2020-09-21 22:58] willwillis opened #130 "Question: Can the Paljs Table/Editor "Connect" many-to-many relations the way Prisma Studio does?"
The Paljs admin/CRUD interface allows me to create new related objects, but I haven't found a way to connect 2 related items the way that Prisma Studio does, is that possible? Below a `Dashboard` has many `Groups` and from this screen I can associate multiple `Groups` to a `Dashboard` in one screen.

![image](https://user-images.githubusercontent.com/46991/93829738-ec86a480-fc33-11ea-997c-b6521e26

[2020-09-21 23:08] AhmedElywa commented on #130
Hi @willwillis, I already added this feature in [v1.2.3](https://github.com/paljs/prisma-tools/releases/tag/v1.2.3). Please do upgrade, and you can watch the release of the repo

[2020-09-21 23:23] #130 closed

[2020-09-23 13:09] kuksik opened #131 "Mapping of types between graphql and prisma"
I have something like:

schema.prisma
`

    model someEntity {
        id                        string
        name                  string
        additionaField    string
      }
`

types.graphql
`

    type someEntityCustom {
        id                        string
        name                  string
      }
`

I have investigated codebase of select method and see that it try to find model

[2020-09-23 14:42] AhmedElywa commented on #131
@kuksik we use model name to make filter before return fields and exclude any field, not in the schema model.

you can easily add custom type as you need and will return the fields you select but you must be sure that these fields exist in schema model or prisma client will throw error

[2020-09-23 15:09] kuksik commented on #131
What about custom fields in the custom type?

[2020-09-23 15:39] AhmedElywa commented on #131
in this case, you can use `valueWithFilter` method in new version 1.5.5

[2020-09-24 13:08] kuksik commented on #131
i will try explain my problem with more details:

schema.prisma
`

    model Config {
       id                        string
       configName       string
    }

    model Configs {
        id                        string
        config1               Config
        config2               Config
        config3               Config
      }
`

types.graphql
`

    type ConfigType {
         id

[2020-09-24 13:50] AhmedElywa commented on #131
Will see how we can make this and back to you

[2020-09-24 13:52] AhmedElywa commented on #131
Why you just add this field in the original type name

[2020-09-24 13:54] kuksik commented on #131
I do not need this field i the DB because I need reuse the same item for different hierarchal items, and i add this field in the code

[2020-09-24 14:07] AhmedElywa commented on #131
What I mean why you name type ConfigType instead of Config

[2020-09-24 14:10] kuksik commented on #131
ah, ok. I use Config type too. ConfigType is client oriented type.

[2020-09-24 14:15] AhmedElywa commented on #131
Ok wait for a workaround this

[2020-09-24 15:04] AhmedElywa commented on #131
The idea now is adding a comment on the schema.prisma file like this

It will be array so you can create custom types as you want

I will look to original name and all names in map
[code]

[2020-09-26 14:14] AhmedElywa commented on #131
@kuksik please try now to add

[code]

[2020-09-26 16:41] #131 closed

[2020-09-27 12:00] ZiiMakc opened #132 "GraphQLError: Syntax Error: Expected Name, found "}"."
new PrismaSelect(info) gives me error "GraphQLError: Syntax Error: Expected Name, found "}"."

What can be a problem for schema:

[code]

And query:

[code]

Does prisma database schema can couse a probem, like here: #122

[2020-09-27 12:02] AhmedElywa commented on #131
@kuksik any test here to confirm that your issue is done?

[2020-09-27 12:05] AhmedElywa commented on #132
Can you share your prisma schema, please?

[2020-09-27 12:15] ZiiMakc commented on #122
Same problem i think, is there any solutions?

[2020-09-27 12:17] AhmedElywa commented on #122
@ZiiMakc you also have many to many relation models not have any scalar fields?

[2020-09-27 12:23] ZiiMakc commented on #132
@AhmedElywa i'm not sure:

<details>
  <summary>Schema</summary>

[code]

</details>

[2020-09-27 12:26] ZiiMakc commented on #132
package.json:
{
  "scripts": {
    "dev": "concurrently -r \"npx next\" \"npm:codegen\" \"npm:lint\"",
    "build": "next build",
    "start": "next start",
    "prisma-intro": "npx prisma introspect",
    "prisma-gen": "npx prisma generate",
    "prisma-studio": "npx prisma studio",
    "prisma-gen-nexus": "ts-node --transpile-only -P nexus.tsconfig.json backend/graphql/generated/nexus-typegen.ts

[2020-09-27 12:35] AhmedElywa commented on #132
@ZiiMakc  `AuthorBook` model is many to many relations this one case the issue I will work on this issue today to get a final fix will close this now and you can see updates at #122

[2020-09-27 12:35] #132 closed

[2020-09-29 19:10] AhmedElywa commented on #122
Hi all,
I hope you all review the new version 2.0.0.

[2020-09-29 19:11] ZiiMakc commented on #122
@AhmedElywa thanks, works fine for now.

[2020-09-29 19:12] #122 closed

[2020-09-29 19:12] AhmedElywa commented on #122
Thanks, @ZiiMakc for the review

[2020-09-29 20:41] ZenSoftware opened #133 "paljs v2.0.0 - Unknown type "Null""
### Description
Thank you for keeping pace with the newest releases of Prisma!  We really appreciate how active the Pal.js project is ⛲️.  We have just tried to upgrade to Pal.js v2.0.0.  Unfortunately we are getting an error of `Unknown type "Null"` during our [makeExecutableSchema](https://github.com/ZenSoftware/Zen/blob/6743c2dc29e92152ee8ed256c615f0339976dd6b/apps/api/src/app/graphql/resolvers

[2020-09-29 20:44] AhmedElywa commented on #133
@ZenSoftware yes I know this error already and working on a fix now

[2020-09-29 22:49] AhmedElywa commented on #133
@ZenSoftware please try now

[2020-09-29 22:52] AhmedElywa commented on #117
with the new release v2.0.1, you can now list many-to-many relation table

[2020-09-29 22:52] #117 closed

[2020-09-29 22:52] #133 closed

[2020-09-29 23:46] ZenSoftware commented on #133
@AhmedElywa Works perfectly now.  Thanks again!

[2020-09-30 07:22] bkniffler opened #134 "The directive `@map` can not be used on relation fields"
I've just used `pal schema camel-case` and I got this error during my next `prisma generate` call:

<img width="530" alt="Bildschirmfoto 2020-09-30 um 08 22 02" src="https://user-images.githubusercontent.com/4349324/94655149-05f3b480-02f6-11eb-9bd5-73a2860c285d.png">

Is there a way to handle relations properly, in a way that prisma accepts?

[2020-09-30 07:29] AhmedElywa commented on #134
Thanks for reporting this issue. I will skip the relation fields from this convert

[2020-09-30 08:02] AhmedElywa commented on #134
@bkniffler can you please upgrade to v2.0.2 and test again?

[2020-09-30 08:45] #134 closed

[2020-09-30 17:12] bkniffler commented on #134
I'm sorry, I was just evaluating prisma including paljs. I've now gotten rid of prisma, I'll not be able to try for now. But good job on fixing so fast :)

[2020-10-07 14:12] carlosfiori opened #135 "2.2.1 TypeError: Cannot read property 'run' of undefined"
I'm trying upgrade from 1.6.1 to 2.2.1 but I'm getting this error when run pal generate: `TypeError: Cannot read property 'run' of undefined`

and when i downgrade back to 1.6.1 it started to throw this error: `TypeError: Cannot read property '0' of undefined`, in this case looks like is not reading the schema file

Which more info I can provide to help? I can not find a debug mode

[2020-10-07 14:19] AhmedElywa commented on #135
@carlosfiori  Thanks for reporting, Can you please provide what is your prisma client version?
And are you read the releases notes there are many  breaking changes like `nexus-schema` generator renamed to `nexus` because we dropped the nexus framework

[2020-10-07 14:25] AhmedElywa commented on #135
also all versions before 2.0.0 need prisma version <= 2.7.0
all versions after 2.0.0 need prisma version >= 2.8.0

[2020-10-07 14:56] carlosfiori commented on #135
I'm trying to rollback with prisma version 2.7.0 and paljs 1.7.0

[code]

[2020-10-07 15:02] carlosfiori commented on #135
I read the releases notes for 1.6.0 and their say that requires Prisma 2.8.0
So I tried now with paljs 1.5.6 and prisma 2.7.0 but same error

[2020-10-07 15:07] AhmedElywa commented on #135
Can you try to use the last pal.js version 2.2.1 and prisma version 2.8.1?

[2020-10-07 15:30] carlosfiori commented on #135
I retry with pal.js 2.2.1 and prisma 2.8.1 and it works. I probably get some version wrong first time and definitely not changed the generator name to nexus.

Thanks for all your support and great work

[2020-10-07 16:03] AhmedElywa commented on #135
Thanks to you. I will close this issue if you need any other help, please open a new one

[2020-10-07 16:03] #135 closed

[2020-10-14 09:49] pakatagoh opened #136 "Question about generated update input types from SDLInputs()"
Hi!

My team and I are currently upgrading from prisma1 to prisma2. We are making use of `pal g` to help generate graphql type definitions to replace the ones generated previously by prisma1.

We are having issues with the generated `UpdateInput` graphql input types

A example model in our `schema.prisma` file below:
[code]

paljs generated below
[code]

prisma1 generated below:
[code]

using the

[2020-10-14 10:32] AhmedElywa commented on #136
Why we use `Object` not `string`  type?
Because the `Number` fields have many options like:

from prisma release notes https://github.com/prisma/prisma/releases/tag/2.6.0

And Also for Json fields must with `set`

In the end, I can add an option for you to pass into `SDLInputs()` function

[2020-10-15 12:40] pakatagoh commented on #136
Thanks for info!

and yes if there could be some kind of flag in the paljs config that we could use together with `generator:'sdl'` so that `sdlInputs()` will not choose the types that require `set`and it'll be more "prisma1-friendly"

I guess it could look something like the following?
[code]
Will probably have to indicate in the documentation that this will not generate graphql type defs that su

[2020-10-15 15:51] AhmedElywa commented on #136
Can you tell me if you using my generator with `Javascript` or `Typescript`?

[2020-10-15 15:54] pakatagoh commented on #136
we are using typescript 👍🏻

[2020-10-16 03:58] sondh0127 opened #137 "How to do releases upgrade ?"
Did we have any approach to upgrade the current project?

I create a project with "@paljs/generator": "^2.3.1".
so how can I update to ^2.3.2 automatically or provide some way to resolve the conflict?

[2020-10-16 06:33] AhmedElywa commented on #137
Hi @sondh0127, you always can look to releases notes [here](https://github.com/paljs/prisma-tools/releases) and see if there any breaking changes, or you can just update without any change in your code

Also, you can watch release notes. to get an email when any new release released
![image](https://user-images.githubusercontent.com/4535142/96221155-528fee80-0f8a-11eb-8b98-b68fd2310e17.png)

[2020-10-16 09:00] sondh0127 commented on #137
@AhmedElywa
Thank you for your answer but this isn't what I mean. I would like to do that with paljs/cli instead. Something like:

1. npm install -g @paljs/cli
2. Go to the folder containing the old generated app
3. `pal c <the_old_foldername>`

After that, I'll be able to see the diff of each file.

I ended up with the following step with the help of Vscode + Git

0. git commit `<old-app>`
1. `np

[2020-10-16 11:25] sondh0127 opened #138 "Add prettier for nexus generated files"
We should add `prettierConfig` in `makeSchema` function in order to get the risk of `husky` hooks and schema format problem

[https://nexusjs.org/docs/api/make-schema#prettierconfig](https://nexusjs.org/docs/api/make-schema#prettierconfig)
In `nexusSchema.ts`
[code]

[2020-10-16 11:34] AhmedElywa commented on #138
Thanks for your activation here.
the easier way to add the nexus generated file to [.prettierignore](https://github.com/paljs/prisma-tools/blob/master/packages/create/examples/full-stack-nextjs/.prettierignore) file

we have generated all files into the `src/generated` folder and for an issue with `next.js v9.5.5` we moved nexus generated file to root folder and forget to add this file into ignori

[2020-10-16 11:42] AhmedElywa commented on #137
we don't make many changes in the examples files, but if you need to know what we change in these examples, there is an easier way to do this look to the new commit into [this folder](https://github.com/paljs/prisma-tools/tree/master/packages/create/examples) and see what we chnage

[2020-10-16 14:26] #138 closed

[2020-10-16 18:32] #137 closed

[2020-10-20 08:48] roderickhodgson opened #139 "Support for passing a specific prisma client in plugins"
Hi Ahmed,

I notice the plugins import the `dmmf` from '@prisma/client'. This causes an issue when using a custom path for the generated prisma client.

For example with this directive in the schema

[code]

This is a likely scenario if building a GraphQL with multiple data sources, and therefore using more than one prisma client.

Would it be possible to support passing the client to the plugin?

[2020-10-20 08:51] AhmedElywa commented on #139
@roderickhodgson, thanks for your issue. I am already working on that.

[2020-10-20 09:24] #139 closed

[2020-10-20 09:40] AhmedElywa commented on #139
@roderickhodgson please update to last version https://github.com/paljs/prisma-tools/releases/tag/v2.5.0

[2020-10-23 09:36] codingfunwoody opened #140 "Suggestion of Generator options"
Hi, can you add a option excludeFieldsAndQueriesAndMutationsByModel?

i just want to exclude some fields in some queries or mutations. E.g. exclude "id" field in mutations of update, remain "id" field in queries

[2020-10-26 22:54] willwillis opened #141 "Composite Unique breaking Name Assertion"
This model is the result of prisma introspection

[code]

`yarn generate` fails with this error:

[code]

Any ideas how to get around this issue?

Environment details:

[code]
@paljs/cli/2.5.2 linux-x64 node-v14.12.0
[code]

[2020-10-28 05:44] DregondRahl opened #142 "Subscriptions"
Would it be possible to add subscriptions ? Would be linked to the mutations (createOne, updateOne)

[code]

[code]

[2020-10-28 10:23] AhmedElywa commented on #140
I didn't get your idea. Can you please add an example of usage?

[2020-10-28 17:21] ZiiMakc opened #144 "Update peer dependencies to graphql 15"
When installing `npm i @paljs/plugins`

I get warning:
`npm WARN graphql-tag@2.10.3 requires a peer of graphql@^0.9.0 || ^0.10.0 || ^0.11.0 || ^0.12.0 || ^0.13.0 || ^14.0.0 but none is installed. You must install peer dependencies yourself.`

As i can see graphql-tag support graphql 15: https://github.com/apollographql/graphql-tag/pull/299

Can graphql-tag be updated?

[2020-10-29 23:16] AhmedElywa commented on #144
@ZiiMakc updated `graphql-tag` to the last version, and it uses `graphql` v15

[2020-10-29 23:16] #144 closed

[2020-10-29 23:18] AhmedElywa commented on #142
It's a good idea to make a plugins system to our CLI generator so you can add custom generations.

[2020-10-30 19:28] nafkhanzam opened #145 "Option for creating nexus objectType model only, without queries and mutations"
Is there an option for creating nexus objectType model only, without queries and mutations? didn't seem to find one

[2020-10-30 20:53] AhmedElywa commented on #145
Yes, there is one option to do this.

in your `pal.js` file, you can add this

**example**

[code]

[2020-10-31 10:32] nafkhanzam commented on #145
how about for all models?

[2020-10-31 10:34] AhmedElywa commented on #145
Here are all options https://paljs.com/generator#options-type-definition

[code]

[2020-10-31 10:37] nafkhanzam commented on #145
did exactly this and still generating both

[2020-10-31 10:39] AhmedElywa commented on #145
If you already have any file generated our CLI will not remove it.

[2020-10-31 10:44] nafkhanzam commented on #145
Here's the step that I did:
1. delete `src/graphql/models` folder
![image](https://user-images.githubusercontent.com/48153421/97777124-a4e32900-1ba0-11eb-9a72-8abde6f8ae19.png)
2. write this in `pal.js`
[code]
3. run `pal g`
4. here's the result
![image](https://user-images.githubusercontent.com/48153421/97777108-7f561f80-1ba0-11eb-80c8-33f0797e0c4d.png)

[2020-10-31 11:35] AhmedElywa commented on #145
Yes found it will fix and push new version

[2020-10-31 13:50] #145 closed

[2020-10-31 14:18] AhmedElywa commented on #145
Please upgrade to the last version 2.5.5 and will get a fix for this issue

[2020-10-31 15:03] nafkhanzam commented on #145
Hmm, still having the exact same issue.. setting only disableQueries or disableMutations still generating both..
the `excludeModels: [{name: "Doctor", queries: true, mutations: true}]` works tho

`pal.js`
[code]

`package.json`
[code]

[2020-10-31 15:06] AhmedElywa commented on #145
I just tested it 2.5.4 have issue 2.5.5 working good.

Please be sure you delete the folder and rerun it.

I can go online with you. If this does not work, please give it another try.

[2020-10-31 15:22] nafkhanzam commented on #145
yeah, still having the issue.. how can I contact you? I dm'ed you via twitter..

[2020-10-31 16:37] vonphlpp opened #146 "Error: Cannot set property 'select' of undefined"
Hi I created with the ```pal c``` the full-stack-nextjs project. I have to say this is really nice, didn't expect that, thx for this.

But I get the error:
[code]
This is happening when I use getStaticProps like:
[code]

to solve this problem I made this change in src/Api/client:
[code]
But now I don't use anymore the SchemaLink from "@apollo/client/link/schema"

I guess I'm doing something wrong

[2020-10-31 17:37] vonphlpp commented on #146
Ok I have to use like:
[code]
But now I dont have the query in my client cache. Somebody know I can save the query in the cache?

[2020-11-01 07:57] DregondRahl opened #147 "StringFieldUpdateOperationsInput should work without also "set""
Update requires "set:" for each input

[code]

Create works without using "set:"

[code]

Primsa generates below, which makes it optional.

[code]

Can we generate it in a similar way?

Thanks,

[2020-11-01 10:17] AhmedElywa commented on #147
We can't generate like Prisma.
Because Prisma generate TypeScript code, they can add many types for one field but in GraphQL, we can just add one type

More info will be in this issue #136

[2020-11-01 17:57] vonphlpp commented on #146
Still have the Error.  Please help me
[code]

[2020-11-02 07:29] DregondRahl commented on #142
one way to do this could be to create a _templates folder when a project is created using paljs, then before they run pal g they can modify the templates and then run it. It would be similar to how hygen works. It would be easy then to even generate it with validations or anything else customizable.

[2020-11-02 13:08] #147 closed

[2020-11-03 18:35] alaarihan opened #149 "Self relation graphql module generation problem"
Hi,

While I'm creating a self relations in a module, pal g made a wrong import from the module to its self, this confusion happened because the module has relations to its self:
[code]

The generated code was like this:
[code]

as you see the module name is CategoryModule and it contain an import to CategoryModule in the same time

[2020-11-03 18:37] AhmedElywa commented on #149
Thanks for the report will work on it

[2020-11-03 18:40] AhmedElywa commented on #149
If you have time and want to try solving it you can take a look here https://github.com/paljs/prisma-tools/blob/7f3541095a50c2447051dbcca9ed7b43d7715fbc/packages/generator/src/graphql-modules/index.ts#L50

[2020-11-03 18:44] alaarihan commented on #149
Yeah sure, I just want to know how can I test the changes that I will make?

[2020-11-03 18:46] AhmedElywa commented on #149
You can make any folder in https://github.com/paljs/prisma-tools/tree/master/packages/generator/__tests__ path and take nexus-prisma as an example.

to run the generator just do `node index.js` command inside your folder

[2020-11-03 21:33] #149 closed

[2020-11-07 20:57] AhmedElywa commented on #146
This issue not in our generator please ask your question at https://stackoverflow.com/

[2020-11-07 20:57] #146 closed

[2020-11-09 12:21] ObserverMoment opened #152 "onDelete.deleteParent == true does not return the parent object"
Hi Ahmed,

I've just discovered your select and delete packages - they are really great and making my code so much more straightforward!! Thank you for your work in making these!

I am using the delete package to remove an object and its descendants. I want the parent object to return once this is completed, so that I can check that the operation was successful and then do some further processing

[2020-11-10 10:33] AhmedElywa commented on #152
Thanks for reporting

[2020-11-10 10:42] AhmedElywa commented on #142
Yes, you are right, but it's like a big change

[2020-11-10 10:51] #152 closed

[2020-11-10 17:00] ObserverMoment commented on #152
Nice!

[2020-11-11 08:47] codingfunwoody commented on #140
Sorry my unclear question,
My expectation is excluding "id" field in input types of mutation. E.g. create a user should not include "id" field in input type of mutation.
I think this is nexusjs problem, i will ask them later.
Thanks for your reply

[2020-11-11 08:47] #140 closed

[2020-11-12 10:48] ObserverMoment opened #154 "PismaDelete.onDelete.returnFields throws Prisma error."
Hi, thanks for the last quick update. `Returnfields` is a great idea but there seems to be an issue in that prisma.deleteMany() return a `BatchPayload` object rather than the original model, which only has one field on it - `count`.
[code]

[code]

[code]

Wondering if my syntax is wrong or if there is some other fix / update that would allow the functionality to work?

Perhaps switch the final re

[2020-11-12 15:36] AhmedElywa commented on #154
I can not check if the user tries to delete one or many, so many works with both.
I think the right idea to make delete parent false, and you can delete the parent in your side

[2020-11-13 08:18] ObserverMoment commented on #154
I see, yeah that should work! Thanks will try that.

[2020-11-16 07:59] entrptaher opened #156 "Feature request: Generate single graphql schema file for prisma"
I want to generate a single graphql file from prisma instead of a lot of separate files/folders just like prisma 1. So there are two ways of doing this,

First way: import own types and use inside makeSchema.
[code]

Second way: generate the separate schema files and merge it back later.
[code]

Would it be possible to generate the schema without directly without saving them to the disk and readin

[2020-11-16 22:47] #154 closed

[2020-11-16 22:52] AhmedElywa commented on #156
Sorry but I do not understand what you want!

[2020-11-19 08:44] leoDreamer opened #157 "Use custom resolver when nexus-plugin-prisma generate types"
Hi, in `nexus-plugin-prisma` options, we can replace the default resolve，there are any solution to use custom resolver in some `t.crud`
![image](https://user-images.githubusercontent.com/16728066/99641753-a9a34a80-2a85-11eb-80c5-c5bf8dddc138.png)

[2020-11-19 10:13] AhmedElywa commented on #157
@leoDreamer You can generate your CRUD just one time with my CLI and update it.

Don't forget if you rerun; the CLI will replace your work

[2020-11-19 14:21] chrisbull opened #158 "PrismaTable edit row doesn't work when using uuid() instead of Int"
When using UUIDs for the id of the model, everything works fine. However, when you click on "edit" it using router.query to get the id, but it strips the `router.query` variable and only uses the first 5 digits of the UUID.

For example: `http://localhost:3000/admin/models/User?update=369062d2-119d-4be8-a471-b2bd81be74f9`
Will error because it tries to do a look up on `369062d2` instead of the ful

[2020-11-20 01:53] leoDreamer commented on #157
@AhmedElywa thanks reply.  because of rerun will replace my custom code, I couldn't update the generated CRUD, there are any plan to support `nexus-plugin-prisma` option in CLI

[2020-11-21 10:22] AhmedElywa commented on #157
Can you suggest how we can support this option? Thanks

[2020-11-23 00:30] #158 closed

[2020-11-23 00:49] AhmedElywa commented on #158
Thanks for reporting.
Please try the latest version `2.6.3`

[2020-11-23 02:35] leoDreamer commented on #157
How about this,
in CLI option define like
[code]
use like
[code]
write the fieldName's value to the generated code as nexus-plugin-prisma's option

[2020-11-24 11:50] AhmedElywa commented on #157
Yes, this can be an option, but I will take the function as a string like this.

[code]
because we print this code in your files, not use as a function

[2020-11-24 12:32] #136 closed

[2020-11-25 02:22] leoDreamer commented on #157
Thanks a lot，look forward to this feature publish.

[2020-11-25 15:41] ZenSoftware opened #159 "@paljs/cli v2.8.2 does not generate Prisma enums in resolversTypes.ts"
In the latest release of @paljs/cli v2.8.2, there seems to be a bug whereby Prisma enums are no longer generating their equivalent Typescript types within the **resolversTypes.ts** output.  This is causing compile issues as there are missing types.

**schema.prisma**
[code]

I see in my git diff that within **resolversTypes.ts**, the follow lines have been removed from the output previously genera

[2020-11-25 15:44] AhmedElywa commented on #159
Working on that now

[2020-11-25 17:27] #159 closed

[2020-11-25 17:29] AhmedElywa commented on #159
Can you try the last version `2.8.3`?

[2020-11-25 17:51] ZenSoftware commented on #159
Thanks @AhmedElywa, that fixed it. ^_^

[2020-11-28 11:57] AhmedElywa commented on #157
@leoDreamer when I was working on this. I said we already have a `nexus` generator that generates native nexus types without using `nexus-plugin-prisma`.
If you need to customize everything, why use `nexus-plugin-prisma` instead of `nexus` generator.
Can you give this a try?.

[2020-11-29 16:14] unlight opened #160 "TypeError: Cannot convert undefined or null to object"
![image](https://user-images.githubusercontent.com/301732/100547257-2c46b980-327f-11eb-9b2a-a0ebb1b4a992.png)

Evaluates to
[code]

Info object
<details>
{
  "fieldName": "articles",
  "fieldNodes": [
    {
      "kind": "Field",
      "alias": {
        "kind": "Name",
        "value": "articles",
        "loc": {
          "start": 19,
          "end": 27
        }
      },
      "name": {

[2020-11-29 20:43] AhmedElywa commented on #160
Can you give me your frontend requested fields, please?

[2020-11-30 07:31] unlight commented on #160
[code]

[2020-11-30 19:32] AhmedElywa commented on #160
Can you upgrade to the last version `2.8.4` and check again?

[2020-11-30 19:32] AhmedElywa commented on #160
Can you upgrade to the last version `2.8.4` and check again?

[2020-11-30 22:28] unlight commented on #160
Checked with `2.8.4` still same error.
I just realized that but is probably wrongly. Part of schema:
[code]
`following` is array of users

I do not need this behavior (expose this field to graphql schema), and override this by NestJS decorator `ResolveField`
[code]
Than I found piece of code
[code]

Looks like select some how depend on generated dmmf of prisma client.

Which is looks weird for me.

[2020-11-30 22:33] AhmedElywa commented on #160
Yes, get your issue. I will work on it.

[2020-11-30 22:52] #160 closed

[2020-12-02 06:19] unlight commented on #160
I do not understand why it is necessary. Can you explain why plugin relies on dmmf?
This is the old implementation https://github.com/frandiox/graphql-info-transformer/blob/master/index.js of similar behavior (only graphql is used).

[2020-12-02 10:22] AhmedElywa commented on #160
Because if you added in your graphql type any fields, not in your prisma model and I added them to select object, this will break your prisma query I must filter your fields coming from Info and just give you what you can send to a Prisms select object

[2020-12-09 15:12] afuyo opened #162 "Error: Could not find query-engine binary."
Hi ,
I am trying to run the examples as described in the read.me When issuing
`pal g`
I get following error:
Error: Could not find query-engine binary. Searched in
    /usr/lib/node_modules/@paljs/cli/node_modules/@prisma/sdk/query-engine-debian-openssl-1.1.x and
    /usr/lib/node_modules/@paljs/cli/node_modules/@prisma/query-engine-debian-openssl-1.1.x

Best Regards
Artur

[2020-12-10 21:46] AhmedElywa commented on #162
Please try the last version, `2.9.1`

[2020-12-11 04:33] ZenSoftware opened #163 "DistinctFieldEnum still being generated instead of ScalarFieldEnum"
Hello @AhmedElywa ,

@paljs/cli v2.9.1 seems to still be generating the old style of type names for enums before the change in @prisma/client v2.13.0.  In some places they seem to be correctly generating with the new `ScalarFieldEnum` postfix, though in other places they are still generating with the old `DistinctFieldEnum` postfix.

**Contact/typeDefs.ts**
[code]

**schema.prisma**
[code]

[2020-12-11 08:29] AhmedElywa commented on #163
Thanks for report

[2020-12-11 09:19] #163 closed

[2020-12-11 09:46] ZenSoftware commented on #163
That fixed it!  Thanks again ^_^

[2020-12-12 00:40] AhmedElywa commented on #162
I will close this issue. If you still face this issue with the last version, please comment here again.

[2020-12-12 00:40] #162 closed

[2020-12-15 07:17] Blatty opened #164 "Generate doesn't work using the example"
Hello,

First, thanks a lot for your hard work on these tools, they are very helpful!

I just tried to generate a CRUD system using `pal g` for the `nexus-plugin-prisma` but it looks like it's not working (I've been using the example):

[code]

[code]

[code]

[code]

Am I missing anything?

Cheers

[2020-12-15 07:19] AhmedElywa commented on #164
No you are right it's issue will fix soon

[2020-12-16 12:03] mohsin51 commented on #164
+1

[2020-12-17 22:41] AhmedElywa commented on #164
This issue fixed in the last release `v2.10`, please upgrade to this version.

[2020-12-17 22:41] #164 closed

[2021-01-05 11:53] #157 closed

[2021-01-05 12:32] entrptaher commented on #156
I got busy and forgot to reply on time. :D I'll ask you to reopen this with a reproducible code example.

[2021-01-05 12:59] entrptaher commented on #156
Long story short, Paljs generator generates file in the disk, while I want to use them in stdin/tmp/stream file to add additional modification.

[2021-01-10 10:11] pakatagoh opened #166 "Bug: SDL and resolver generation not consistent for findFirst queries"
The image below shows the query generated by `pal g`. The generated query for an `Organisation` model has  `findFirstOrganisation`s return type is an array.
![image](https://user-images.githubusercontent.com/37908805/104119890-ab92d700-536d-11eb-8f9f-9685fa97aaa1.png)

It's not consistent with the return type of the `findFirstOrganisation` resolver.

Should the return type be `Organisation` instea

[2021-01-10 10:29] pakatagoh commented on #166
Potential fix in  #167

[2021-01-10 14:03] AhmedElywa commented on #166
Fixed by @pakatagoh

[2021-01-10 14:03] #166 closed

[2021-01-11 05:23] pakatagoh commented on #166
thanks! @AhmedElywa

Do you know when you'll publish a new release with the changes?

[2021-01-11 10:35] AhmedElywa commented on #166
Today, sorry for late.

[2021-01-11 20:27] AhmedElywa commented on #166
V2.11.1 have your fix

[2021-01-15 06:10] gtolarc opened #168 "'adminSettings.json' problems"
Setting management using the'adminSettings.json' file is not flexible. It is not possible to restrict actions (create/update/delete) according to each user's permission or support i18n of field titles.
Can you guys think about this and improve it?

[2021-01-15 06:21] AhmedElywa commented on #168
Hi @gtolarc,
It's an interesting idea we can give you a react component props say `permissions`
It takes an array of strings, `create/update/delete`. It will force what is in `adminSettings.json`.
What do you think?.`

[2021-01-15 06:57] gtolarc commented on #168
If you can receive one prop(I think the name updateModel would be good.) of the following shape in PrismaTable, it seems that we can solve both the permission and i18n problem at the same time.

[code]

[2021-01-15 07:00] AhmedElywa commented on #168
Please, I need to focus on one issue. Can we solve permissions here and open a new issue for other issues

[2021-01-15 07:09] gtolarc commented on #168
Got it. I think your solution is fine. It seems to be a simple way to allow the client to determine actions.

[2021-01-15 07:21] gtolarc opened #169 "i18n support"
I think i18n support is needed.
It would be nice if both system messages and data model field names could be supported by a common interface.

I think the following is a good example.
https://marmelab.com/react-admin/Translation.html#translation-messages
https://marmelab.com/react-admin/Translation.html#translating-resource-and-field-names

Could you guys add this part to the roadmap?

[2021-01-15 07:42] gtolarc commented on #169
Sure :)

[2021-01-21 13:21] strazi opened #170 "Unchecked Scalar Input"
It looks like the [GraphQL SDL inputs](https://paljs.com/plugins/sdl-inputs) plugin selects the unchecked scalars version of the input arguments automatically, would it be possible to have an option to select the "normal" version? For example:

[code]

vs.

[code]

Alternatively maybe the inputs could be generated into individual files like the resolvers are. Thanks!

[2021-01-26 23:29] gavrichards opened #171 "Error: Cannot find module 'graphql/language/parser'"
I'm trying to use this for handling cascading deletes in Prisma.
I'm not using graphql in my project, but an error appears which suggests it is required, although this isn't mentioned on [this doc page](https://paljs.com/plugins/delete/).

My code is:
[code]

I get the following (I have replaced sensitive bits with [redacted])
[code]

Is there any way around this? Thanks.

[2021-01-26 23:59] AhmedElywa commented on #171
@gavrichards You can fix this now by installing graphql in your project
npm install graphql

and I will fix this in my next release

[2021-01-27 09:42] gavrichards commented on #171
@AhmedElywa thank you, that worked. I look forward to the update :)

[2021-01-28 07:04] gtolarc opened #172 "misspelling"
Flout -> Float :)

https://github.com/paljs/prisma-tools/blob/8ea3a3ba5792d102345c22606f5d14edb63d7ad8/packages/admin/src/PrismaTable/Form/Inputs.tsx#L89

[2021-01-28 08:33] gtolarc commented on #169
Since adminSettings.json is saved as a file, CMS cannot be separated unless we use a SSR framework like nextjs. Also, it is impossible to scale up server instance. But how about rethinking it as the role of a static generator to make setting easier?

If we can determine permissions or settings(label, upload, editor, etc..) only at the coding stage as a js file, we can apply the existing i18n libra

[2021-01-30 17:05] gavrichards opened #173 "Self relation causes "RangeError: Maximum call stack size exceeded" ?"
I had PrismaDelete working well, until I introduced a self relation in my schema.

Now even when trying to delete records which don't make use of the self relation, it fails and gives this error:

[code]

Does PrismaDelete support self relations? Here's an example of the model in my schema:

[code]

I'm invoking it like this:
[code]

Thanks for your help.

[2021-02-01 18:51] carlosfiori opened #174 "Error generating nexus schema if model's name in lower case"
Using the nexus generator, if the model name is in lowercase, the error below is occurs:
![image](https://user-images.githubusercontent.com/20682772/106504025-25b60780-64a5-11eb-9a22-1e8e585c2a54.png)
![image](https://user-images.githubusercontent.com/20682772/106504045-2e0e4280-64a5-11eb-8c77-d1ee7177c64f.png)

[2021-02-02 13:37] backops-threed opened #175 "Wrong PrismaSelect value when dealing with JSON inside GraphQL non prisma.schema node"
Versions:

[code]

File `schema.prisma`:
[code]

File `schema.graphql`:
[code]

My PrismaSelect code:
[code]

**What's right:**
For this graphql query:
[code]
`const select` will be:
[code]
So, cover, since on `prisma.schema` is `Json` returns as `cover: true`, and after `apollo-server` will deal with the fields inside `cover`.

**The problem:**
In my specific case, I need to return pagination dat

[2021-02-02 13:55] backops-threed commented on #175
Thanks to @AhmedElywa for helping me out on Slack.

**Solution**
When the prisma model is inside another node on GraphQL, we can use `valueOf` instead of `value`.
Ref: https://paljs.com/plugins/select#valueof

So, on my case, the solution was:
[code]

[2021-02-02 13:55] #175 closed

[2021-02-02 14:43] AhmedElywa commented on #173
You can't use our plugin for this relationship because when I will look for relation I will see it has children and children can have children so it's an infinite loop

You can remove the comment in your model and delete the parent-children manual first and then delete the parent

[2021-02-02 16:38] gavrichards commented on #173
Fair enough. It would be good if there was a way of specifying a loop depth, so that this could work but only to the degree specified.

[2021-02-02 16:59] AhmedElywa commented on #173
I will think on your suggestions

[2021-02-02 17:16] gavrichards commented on #173
Thanks @AhmedElywa, I appreciate it.

[2021-02-03 01:09] #174 closed

[2021-02-03 01:09] #168 closed

[2021-02-03 01:09] #172 closed

[2021-02-03 01:11] AhmedElywa commented on #168
you can now pass actions props to the `PrismaAdmin` component from version `2.12.0`

[code]

[2021-02-03 01:13] AhmedElywa commented on #171
Please upgrade to version `2.12.0` and remove `graphql` package and try

[2021-02-03 01:16] AhmedElywa commented on #173
With the last version, `2.12.0`, you can use self-relation, and our plugin will delete just one nested relation.
so if the record has children, I will delete his children, but if children have children, I will face an error

[2021-02-03 01:17] AhmedElywa commented on #174
please try the last version, `2.12.0`  and give me your feedback

[2021-02-03 12:27] gavrichards commented on #171
@AhmedElywa No sorry, the same error still occurs with `2.12.0`.

[2021-02-03 12:30] AhmedElywa commented on #171
Yes you are right I forgot that graphql-tag also requires graphql package

[2021-02-03 12:39] gavrichards commented on #173
@AhmedElywa Does this change apply to all relations, not just self-relation? I am now finding a cascading delete (not a self-relation) isn't working.

[2021-02-03 13:42] ZenSoftware opened #177 "Incorrect resolversTypes.ts code generation - "Client.AffectedRowsOutput""
Hello @AhmedElywa!

Pal.js v2.12.0 seems to be producing the following:

**resolversTypes.ts**
[code]

`Client.AffectedRowsOutput` should simply be `AffectedRowsOutput`

By the way, I gave you a shout-out in the README of my most recent project. Thanks again!

## [⛩ Zen ⛩ Nest + Prisma + Angular 🏮 Full Stack Starter Kit](https://github.com/ZenSoftware/Zen)

[2021-02-03 13:51] ZenSoftware commented on #177
After manually removing the `Client` from `AffectedRowsOutput`, I am getting the following Typescript compilation error:
[code]

[2021-02-03 13:55] AhmedElywa commented on #173
Can you please give me the error message I tested the plugin with normal relationships and working correctly

[2021-02-03 14:07] gavrichards commented on #173
I think the issue might be when you try to delete something that has a self-relation, and that linked item has cascading deletes. The error I'm receiving is from Prisma, not your library.
It's this one:

[2021-02-03 14:12] AhmedElywa commented on #173
can you please give me example models and the prisma query you do

[2021-02-03 14:29] gavrichards commented on #173
Sure, so here is a simpler version of what I have - I've removed irrelevant stuff from the model.

[code]

As you can see, a Slot can have child Slots.
A Slot (or a child Slot) can then have Rule Groups.
Rule Groups have Rules.

Say I have a Slot, which has multiple child Slots, and one of those has some Rule Groups.

The query I'm running is:
[code]

I then get:
[code]

My temporary fix is to fir

[2021-02-03 19:31] AhmedElywa commented on #173
What I do now delete the children but not logged into the children to delete their relation. If I do this, I will have an infinity loop

[2021-02-03 19:35] AhmedElywa commented on #173
Can you do it like this will be easier?

[code]

[2021-02-03 20:00] #171 closed

[2021-02-03 20:00] #177 closed

[2021-02-03 20:38] gavrichards commented on #171
Confirmed this is fixed :) Thanks

[2021-02-03 20:42] gavrichards commented on #173
Possibly, it's just not as clean in RuleGroup as both slot and childSlot will have to be optional properties meaning I can't be sure there will be a parent. I'm not even sure if the cascade relationship will work like this.

[2021-02-03 20:52] ZenSoftware opened #178 "TypeError: gql is not a function"
Hello,

Thank you for releasing Pal.js v2.12.1, that fixed the code generation issue.   Though I have upgraded @paljs/plugins and @paljs/cli to v2.12.1, I am now getting the following compilation error.

[code]

I suspect it is how you are requiring graphql-tag:

https://github.com/paljs/prisma-tools/blob/cf970a1ec1f789c42cf1079d36a3ed7229fc1132/packages/plugins/src/sdlInputs.ts#L128

Should be
[c

[2021-02-06 18:20] AhmedElywa commented on #178
Fixing this issue with version 2.12.2

[2021-02-06 18:20] #178 closed

[2021-02-07 16:27] gtolarc opened #179 "updateOneUser error with One-to-Many relationship"
The following query error occurs in one-to-many relationship. It seems to be a bug.
In the basic example, I tried the same test when adding a group to a user, and an same error occurs.

updateOneUser
{where: {id: 1}, data: {group: {connect: {id: {set: 1}}}}}

[code]

[2021-02-08 02:39] gtolarc commented on #179
https://github.com/paljs/prisma-tools/blob/master/packages/admin/src/types.ts#L59

I didn't know there was a useSet option in PrismaTable. There is no problem if useSet is set to false.

[2021-02-11 18:21] terion-name opened #180 "Consider allowing defaultFields to be invokable"
https://github.com/paljs/prisma-tools/blob/7060f4e4f840ce4b195bd9ea6d667a9c95e5758b/packages/plugins/src/select.ts#L197

It is an often situation: let's say you have a computable field, that is not present in schema:
[code]

This field relies on other fields presence and requires them (in this case id field).

One can add to defaultFields `{User: {id: true}}`, but this is rude: why to fetch excess

[2021-02-11 18:52] AhmedElywa commented on #180
It's good idea

[2021-02-14 12:07] gtolarc commented on #179
https://github.com/paljs/prisma-tools/blob/master/packages/admin/src/PrismaTable/Form/useActions.ts#L103
It is correct to use set for basic update, but for relationfield, set should not be used to avoid error. Therefore, it seems that the above part needs to be changed useSet=false.

[2021-02-16 01:31] gtolarc opened #181 "Problem with gql generation when using the following scalar array type"
There seems to be a problem with gql generation when using the following scalar array type. Creation works fine, but an error occurs when receiving gql input.

[code]

The following is a request from PrismaTable.
![스크린샷 2021-02-16 오전 10 24 55](https://user-images.githubusercontent.com/8623798/108007431-54a1b100-7041-11eb-9155-92c99df2fc78.png)
[code]

The following is the schema.
![스크리

[2021-02-16 03:57] gtolarc opened #182 "Problem that multiple prisma clients are created when in development state"
The following is the issue related to this.
https://github.com/prisma/prisma/issues/5007#issuecomment-740803749

I hope this applies to the default template created by 'pal c'. (src/Api/context.ts)

[2021-02-16 07:49] CarloAndreoli1994 opened #183 "Panic error on deleting"
There seems to be a problem when trying to delete entity with multiple relations with other tables.
It throws a Panic error

Here's the interested Prisma schema:

[code]

And this is the command used for deleting News entity:

[code]

The error is the following:

[code]

The entities are correctly deleted if trying to delete them individually.

Thanks.

[2021-02-16 09:18] gtolarc opened #184 "basic filters export for custom table"
It would be nice to export basic filters that can help with custom table columns.

https://github.com/paljs/prisma-tools/blob/master/packages/admin/src/PrismaTable/index.tsx#L31
[code]

[2021-02-17 02:48] ZachHaber opened #185 "Prisma Select FragmentReplacements support"
I was using this to set up a prisma application, and one of the things I realized is that I couldn't use fragmentReplacements in the API.

PrismaSelect would be a good place to be able to resolve those to be able to make sure that I have enough information on the field resolvers to properly resolve them. As the fragmentReplacement values end up on the `info.schema` object

What are your thoughts o

[2021-02-17 13:13] AhmedElywa commented on #183
our plugin not working with many to many relations

[2021-02-17 13:17] AhmedElywa commented on #184
you will see in the next release

[2021-02-17 13:20] AhmedElywa commented on #185
sorry but I don't have any info about `fragmentReplacements` can you give me an example about what you try to do

[2021-02-17 15:18] gtolarc opened #186 "need to set default pageSize of PrismaTable"
https://github.com/paljs/prisma-tools/blob/master/packages/admin/src/PrismaTable/Table/index.tsx#L66

The setting to put pageSize in this part should be out. Can you add it to the props of PrismaTable? @AhmedElywa

[2021-02-17 15:21] AhmedElywa commented on #186
you mean the options
![image](https://user-images.githubusercontent.com/4535142/108225328-83ed1680-7144-11eb-83b3-d7fa65aa9f2c.png)

[2021-02-17 15:25] gtolarc commented on #186
Yes, the default setting is 10, but I wish there was an option to change this.

[2021-02-17 18:26] AhmedElywa commented on #179
Thanks for solving this issue will come in the next release.
Also, you are welcome to add pull request with your fixes at anytime

[2021-02-17 20:30] ahollenbach opened #187 "resolversTypes.ts doesn't properly handle fields with the same name but different types"
Hi all! Running into an issue with the generation of `resolversTypes.ts` for the SDL generator.

[code]

Because everything is dropped into the `resolversTypes.ts` file, there are several collisions where the same interface is exported. Example that generates the above error message:

[code]

The associated models in the `schema.prisma` file contain the same `feature` attribute, but of different t

[2021-02-17 21:38] #184 closed

[2021-02-17 21:38] #179 closed

[2021-02-17 21:38] #180 closed

[2021-02-17 21:38] #181 closed

[2021-02-17 21:38] #186 closed

[2021-02-18 09:25] gtolarc opened #188 "disable save button when entering edit view"
I want the save button to be activated only when there is a change in the field in the update view.

Currently, it seems to be detecting only errors.
https://github.com/paljs/prisma-tools/blob/master/packages/admin/src/PrismaTable/Form/index.tsx#L157

[2021-02-18 09:41] gtolarc opened #189 "when returning from update view, the previous table filter disappears"
When returning to the previous screen due to save/cancel in update view, it would be better to use back rather than push. The previous query is maintained only when back is used. (window.history.back();)

https://github.com/paljs/prisma-tools/blob/master/packages/admin/src/PrismaTable/EditRecord.tsx#L70
https://github.com/paljs/prisma-tools/blob/master/packages/admin/src/PrismaTable/EditRecord.tsx

[2021-02-18 09:52] gtolarc opened #190 "problems when using menuItem using different queries in the same model"
I want to use the menu with the same model separated by query as follows.

[code]

In this case, if you click each menu, the routing is fine, but there is a problem that the actual table is not filtered.
The cause seems to be that filterHandler is not automatically called according to query changes. Can you solve this problem? @AhmedElywa

[2021-02-21 14:11] gaejoon-ahn commented on #162
same error message yet.

$ pal g
Prisma Schema loaded from server/prisma/schema.prisma
◢ Generating your files    Error: Could not find query-engine binary. Searched in
    /usr/lib/node_modules/@paljs/cli/node_modules/@prisma/sdk/query-engine-debian-openssl-1.1.x and
    /usr/lib/node_modules/@paljs/cli/node_modules/@prisma/query-engine-debian-openssl-1.1.x

$ pal -v
@paljs/cli/2.13.0 linux-x64 n

[2021-02-22 20:24] cesarve77 opened #192 "Fresh nextjs insallation fail"
I follow the steps but I got this error

[code]

[2021-02-22 21:33] AhmedElywa commented on #192
@cesarve77 I think you changed the `codegen.yml` file code.

here is the default content
[code]
your error means you changed the second line from `schema: 'src/generated/schema.graphql'` to `schema: 'src/schema.graphql'`

[2021-02-23 02:27] cesarve77 commented on #192
It is a fresh instalation, I do it again and I got the same error:

[code]
import { PrismaClient } from '@prisma/client'
const prisma = new PrismaClient()
[code]

[2021-02-23 02:29] cesarve77 commented on #192
The problem is that src/generated/schema.graphql is not created

[2021-02-23 04:45] ZachHaber commented on #185
`fragmentReplacements` are a piece of information that are added onto the schema for individual fields.

https://github.com/maticzav/graphql-middleware/blob/master/src/fragments.ts

For example in the tutorial I was going through, the resolver for User's email requires the `id` property to be defined:
[code]

You can get the query fragments if included on the schema from `schema.fragmentReplacemen

[2021-02-23 08:46] AhmedElywa commented on #185
Yes, I understand now. We already have a solution for that without using any middleware package
You can pass a default field to add even if the client request not included

https://paljs.com/plugins/select#constructor look to options here

And look to this issue #180 for advanced use

[2021-02-23 08:51] AhmedElywa commented on #192
It's working good in my laptop
Can you tell me what your nodejs version is?
And your operation system?

[2021-02-23 13:26] ZachHaber commented on #185
The main downside is that you have to set up the default fields in every root query/mutation at that point especially since due to the nature of graphql, you can usually get from one type to a completely different one.

I.e. Post->Comments->User. Which would require the default fields to be set up in Posts() toot query as well for it to be truly accurate

[2021-02-25 03:03] cesarve77 commented on #192
I tried
node v14.3.0
node  v12.16.1
MAC OS 11.2.1

[2021-02-27 18:16] omar-dulaimi opened #193 "Is it production-ready?"
Hello,

Coming from Prisma 1 with prisma binding world, and currently in the upgrade process to Prisma 2.
I tested TypeGraphQL a little bit and so far I have decided that we won't be using it for production since it's going to generate a lot of breaking changes on our clients devices. Hence why I'm coming back to the SDL approach.

So my question, is this library production-ready? Any companies us

[2021-02-27 18:20] AhmedElywa commented on #193
In the first, our library just a development helper tool, so you need it to generate the code instead of writing it by your hand

Also, I am already using all these tools in two big projects in production now

[2021-02-27 18:24] omar-dulaimi commented on #193
That's great to hear. Anywhere I could find examples with sample implemented resolvers?

[2021-02-27 18:27] AhmedElywa commented on #193
You can use our [cli](https://paljs.com/#install-paljs-cli)to start a new project, and then you can put your prisma schema inside this example and create the resolvers

[2021-02-27 18:28] omar-dulaimi commented on #193
Awesome!

[2021-02-27 18:28] #193 closed

[2021-02-27 18:51] omar-dulaimi opened #194 "Unknown type "Decimal"."
Hello,
I'm recieving a lot of errors in the terminal saying:

[code]

and also:

[code]

[2021-02-27 18:54] AhmedElywa commented on #194
Yes, you face this issue with the last version of prisma because they added the Decimal type. I must convert it to Float to work with Graphql

[2021-02-27 18:57] omar-dulaimi commented on #194
I saw in the past PRS this one https://github.com/paljs/prisma-tools/pull/176
Isn't it supposed to fix this issue?

I'm not sure really about conversion from Decimal to Float, wouldn't that introduce data loss/other issues?

[2021-02-27 19:01] AhmedElywa commented on #194
No, it just changes the type name.

#176 fix this issue for `nexus` generator not SDL generator

[2021-02-27 19:13] AhmedElywa commented on #194
For SDL first generator, you need to add `Decimal` scalar manually in your resolvers

[2021-02-27 19:23] omar-dulaimi commented on #194
Aha okay. Is there anything I can do to speed this ticket resolution?

[2021-02-28 12:13] omar-dulaimi commented on #194
@AhmedElywa Hello again. Could you please elaborate on how to manually do this?

I'm blocked at this issue since yesterday, and I couldn't find mentions of "Decimal" besides in typeDefs and resolversTypes files.
We really need to get going with Pal.js

[2021-02-28 14:25] omar-dulaimi commented on #194
@AhmedElywa Also, how can I change the names of some fields; like "take" I want to change it to "first"

[2021-03-01 12:18] AhmedElywa commented on #194
for adding a custom scalar, look to this example  https://www.graphql-tools.com/docs/scalars/#custom-scalar-examples

[2021-03-04 14:00] terion-name opened #195 "[feature] Custom generator classes"
Example usecase: I need to generate schema with different naming conventions (e.g. replicate Prisma1/OpenCRUD convention).

I can write custom generation class, but there is no way to pas it to parent generator without extending it and overriding. It would be great to have something like this:

[code]

[2021-03-04 15:19] AhmedElywa commented on #195
It's a good idea.
Also, If you can help, you can make a pull request.

[2021-03-25 09:57] durdenx opened #196 "[nexus] Input types generation as a file"
Hi,
Thanks for the lib!

Is it possible to generate nexus input types as a file instead of runtime generation? We want to customize the default input types. It would be great if the generator generated input types alongside other files (types, query and mutations).

[2021-03-28 19:16] ZachHaber commented on #185
I've figured out how to use the new defaultFields function form and class extension to get much closer to what I needed without having to completely rewrite the PrismaSelect class.

The only thing I was missing here was the ability to see what the parent model was, but there's a close enough approximation here that it's not needed.

I feel like it's a fairly clean way to handle it, and all of my d

[2021-03-28 19:16] #185 closed

[2021-03-31 12:22] pakatagoh opened #197 "sdlInput generation looks incorrect"
@AhmedElywa

I have the following schema

[code]

With prisma, I'm able to create a `LeaveOfAbsence` with nested creations of `Cleaner` and `Agency`

![image](https://user-images.githubusercontent.com/37908805/113142344-588a3b00-925d-11eb-865a-ebab58b5297c.png)

However, the sdlInput types generated do not take into account nested creations. Below is the sdl generated with the help of `generateGra

[2021-03-31 12:40] AhmedElywa commented on #197
Maybe it's an update from Prisma DMMF in the last version. I will check that and back to you

[2021-04-03 15:12] #183 closed

[2021-04-03 15:40] AhmedElywa commented on #189
You can use these props to customize the button click
https://paljs.com/prisma-admin#props

[code]

[2021-04-03 15:40] #189 closed

[2021-04-03 15:42] AhmedElywa commented on #192
Not found any issues after testing

[2021-04-03 15:42] #192 closed

[2021-04-03 15:42] #194 closed

[2021-04-03 19:39] #188 closed

[2021-04-03 19:46] AhmedElywa commented on #169
resolved in last version

[2021-04-03 19:46] #169 closed

[2021-04-12 10:03] AhmedElywa commented on #182
Fixed in v3.0.0

[2021-04-12 10:03] #182 closed

[2021-04-14 08:15] pakatagoh commented on #197
@AhmedElywa any updates on this?

[2021-04-14 10:29] AhmedElywa commented on #197
Not yet was working on a big change in Prisma admin and ClI to support multiple Prisma schema in the sand project

[2021-04-14 10:33] pakatagoh commented on #197
okay noted! but just wondering if you have any indication on when you think you might finish working on this fix?

[2021-04-22 20:37] divideby0 opened #198 "Add support to configure different database types"
I've found the built-in support for SQLite is a great way to get started. But more often than not, my team is building apps that talk to Postgres or other remote databases. So, along with all the other project setup options, I'm proposing an additional option to choose your target database:

[code]

In practice, I imagine this functionality would work similarly to the way one would bootstrap a pro

[2021-04-22 21:19] AhmedElywa commented on #198
Interesting feature

[2021-04-26 15:55] raymclee opened #200 "PrismaSelect does not select the field in relation"
I have the following code in resolver.

"prisma": "2.21.2",
"@paljs/plugins": "^3.0.1",

[code]

[code]

and when i use above query. the field from owner are not returning.
the output from the console.log(select) is { select: { id: true, phone: true, owner: { select: [Object] } } }.
below is the prisma log. as you can see, prisma is not selecting the column in owner

[code]

[2021-04-26 16:02] AhmedElywa commented on #200
use `console.dir(select, {depth: null})` to see `owner: { select: [Object] } }` details

[2021-04-26 16:09] raymclee commented on #200
please see the output
[code]

[2021-04-26 16:12] AhmedElywa commented on #200
My tool is working fine and converted
[code]

to

[code]

[2021-04-26 16:13] raymclee commented on #200
oh sorry, my database got screwed up. i forgot the the relationship.
after i add back the relationship and it works perfectly!
Thanks

[2021-04-26 16:13] #200 closed

[2021-04-28 20:12] haleksandre opened #202 "How to deep filter"
How do you deep filter the returned select?

Prisma Models
[code]
GraphQL Query
[code]
Resolvers
[code]

Is there a way to force `PrismaSelect` to filter out the whole `select` (deep nested select as well) of every fields that is not present in the Prisma's DMMF?

[2021-04-28 21:34] AhmedElywa commented on #202
It's already filter any field not in the model

Did you generate the prisma client in a custom path or it's in @prisma/client

[2021-04-28 22:59] haleksandre commented on #202
It's in `@prisma/client`.

Could it be possible that these lines are the issue?

https://github.com/paljs/prisma-tools/blob/1abadc6f2ddfdcf1e14761993d986b5f57f95353/packages/plugins/src/select.ts#L78-L80

Shouldn't `dataModel` actually be `datamodel`?

[2021-04-28 23:12] #202 closed

[2021-05-04 09:57] lukadriel7 opened #205 "Select plugins not converting _count from graphql info"
hello, thanks for the great library.
I am currently using prisma 2.21.2 along with paljs 3.0.6. I have enabled the preview feature "selectRelationCount" but the select plugin doesn't seem to recognize the _count field from the graphql info parameter.

I am using nestjs and generating my graphql schema using prisma-nestjs-graphql library

[2021-05-04 23:19] AhmedElywa commented on #205
Hi @lukadriel7, Thank you for your issue. I will work on this update ASAP

[2021-05-04 23:20] lukadriel7 commented on #205
@AhmedElywa Thank you very much

[2021-05-06 07:35] Unbuttun opened #206 "[Feature Request] - Support for typegraphql generator instead of nexus."
Type Graphql do have a official generator for prisma already, so maybe it can be included in here if it's possible - [https://github.com/MichalLytek/typegraphql-prisma](https://github.com/MichalLytek/typegraphql-prisma)

[2021-05-06 12:33] AhmedElywa commented on #206
Hi @Unbuttun, if the typegraphql have a generator already, what we will do

Our job to build a generator for the graphql tools like nexus graphql-module and plain SDL first

So we do not have any job to do with typegraphql

[2021-05-12 23:49] #205 closed

[2021-05-12 23:49] AhmedElywa commented on #205
fixed in last version 3.2.0

[2021-05-13 00:01] lukadriel7 commented on #205
Sorry, but the @paljs/plugins npm version is still at 3.0.11

[2021-05-13 00:22] AhmedElywa commented on #205
Sometimes it take some time to update see version https://www.npmjs.com/package/@paljs/plugins

[2021-05-16 10:36] btodorce opened #208 "Incorrect return type for deleteOne graphql"
When using pal.js cli to autogenerate frontend .graphql with generator set as nexus,  the return type for the deleteOne mutation is always set to be the field id instead of the graphql fragment for the model that the mutaion is removing
Example:
`mutation deleteOneUser($where: UserWhereUniqueInput!) {
  deleteOneUser(where: $where) {
    id
  }
}`
This brakes mutations where the field [id] isnt pr

[2021-05-16 13:48] btodorce opened #209 "Feature Request: Aggregates args field to models"
This would be amazing if it can be done, ithe generator to generate aggregate field inside the actual query and return count,avg,sum,min,max for the underlying model
`query {
  findManyUser {
    aggregate(
      avg {
       age: true
      }
    )
  }
}`

[2021-05-17 11:33] manarjan opened #210 "prisma-select issue for custom output path"
I am getting the below error when I try to use

`const select = new PrismaSelect(info).value;`

My PrismaClient is in a custom path rather than the default, as I am using a monorepo for multiple microservices.

[code]
Is there a way to point PrismaSelect to the correct Client?

[2021-05-17 11:37] AhmedElywa commented on #210
`Import {Prisma} from "../generate/client"`

and

const select = new PrismaSelect(info, {dmmf:Prisma.dmmf}).value;

[2021-05-17 11:58] manarjan commented on #210
@AhmedElywa thanks for the quick response.

I was able to make it work, although with a slight modification.

``` const select = new PrismaSelect(info, { dmmf: [Prisma.dmmf] }).value;```

had to pass the dmmf in an array.

[2021-05-17 11:58] #210 closed

[2021-05-17 22:34] V-ed opened #211 "PrismaSelect : Subscription Question : How to deal with mismatched payload shape"
## Problem

Trying to implement subscriptions and based off [an example on another tool][example], I ran into an issue I can't seem to find any resource online that tackles the issue :

If the payload when creating an object is different than the request from the subscription's subfields, I do not receive all the data that the subscription asks for.

Example :

[code]

These two queries work, as i

[2021-05-18 04:19] V-ed commented on #211
For the record, I was able to make my current 'workaround' / potential solution using a more generic approach, as shown below (_**NestJS**_) :

<details>
<summary>pub-sub.ts</summary>

[code]

</details>

<details>
<summary>message.resolver.ts</summary>

[code]

</details>

[2021-05-19 15:58] #206 closed

[2021-05-19 15:59] #141 closed

[2021-05-19 16:00] AhmedElywa commented on #156
#196 related to this issue

[2021-05-19 16:00] #156 closed

[2021-05-19 16:03] AhmedElywa commented on #209
you need to use this with another query `aggregateUser `

[2021-05-19 16:06] AhmedElywa commented on #211
Look like a big issue will read and back to you

[2021-05-19 16:10] V-ed commented on #211
Sure! Although I would remove the `bug` tag as it isn't really a bug, more like a question on how to integrate PrismaSelect with subscriptions...

[2021-05-19 17:42] btodorce commented on #209
Off topic but since u obviously have more experience in this, if i wanted to create a aggregate field inside an that will do some aggregate function but not cause the N+1 issue. My approach extends the nexus object autogenerated by prisma-tools but in each iteration it fires a new query

In this example im trying each time i invoke findManyUser to retrieve there avg age from another model(db table

[2021-05-20 16:11] AhmedElywa opened #212 "exclude fields from generated input types"
Add an option to exclude fields like a `password` from creating and update inputs.

[2021-05-20 16:13] #208 closed

[2021-05-20 16:19] #212 closed

[2021-05-20 17:20] ahollenbach opened #213 "Changelog for v3"
Howdy! Do you have a changelog for v3? Just curious what the breaking changes are before I uptake the version. Thanks!

[2021-05-20 17:57] AhmedElywa commented on #213
Working on that now; I just no had free time to do this.
most of the changes were in admin and cli packages

[2021-05-20 18:29] ahollenbach commented on #213
Awesome, thank you!

[2021-05-21 17:30] AhmedElywa commented on #196
Hi by version 3.3.1 you can customize your inputs by adding new options to the paljs plugin

[code]

[2021-05-21 18:41] #196 closed

[2021-05-21 23:14] AhmedElywa commented on #213
Thanks for waiting
https://github.com/paljs/prisma-tools/releases/tag/v3.0.0

[2021-05-22 01:41] AhmedElywa commented on #190
We changed all the admin panel

[2021-05-22 01:41] #190 closed

[2021-05-22 01:42] #213 closed

[2021-05-22 16:24] AhmedElywa commented on #209
@btodorce You need to know that our generated CRUD is a copy of Prisma Client API
If prisma `findMany` API has `aggregate` inside it so you will find in our GraphQL query

what you need here is using [`groupBy`](https://www.prisma.io/docs/concepts/components/prisma-client/aggregation-grouping-summarizing#group-by)

[2021-05-22 16:48] #187 closed

[2021-05-22 17:13] #209 closed

[2021-05-24 17:07] ahollenbach commented on #213
Thank you! Much appreciated.

[2021-05-25 08:16] dundich opened #214 "Incorrect generated sdl type Enums @paljs/cli@3.3.5"
schema.prisma

[code]

after pal g  for mode sdl   generated ... resolversTypes.ts with incorrect type Client.Prisma.UserRole
[code]
But after fixed type...
[code]
PS. typo Client.Prisma.UserRole -> Client.UserRole

[2021-05-25 15:34] #214 closed

[2021-05-25 15:35] AhmedElywa commented on #214
@dundich  thank your for report the issue

[2021-06-01 18:03] rryter opened #215 "Question: Transform output of M:M relationship"
Hello :-)

I'm currently trying to achieve the following:

**schema.prisma**
[code]

This generates the correct DB tables and queries (`pal g`).

But now I would like to be able receive `tags` as an array of strings, and **not** objects. I would like to be able to query it like this:

[code]

I would like to avoid the following:
[code]

Is this even possible? I was thinking I should just be able t

[2021-06-01 23:47] AhmedElywa commented on #215
Yes, you can.
First, you need to exclude the generated type
Add this config to your `pal.js` file

[code]

then add your custom type and export and add to exported nexus types

[code]

[2021-06-02 05:44] rryter commented on #215
Thank you very much for the fast feedback. 👍

[2021-06-02 05:44] #215 closed

[2021-06-02 22:27] divideby0 opened #216 "Add support for Storybook"
Our team often uses [Storybook](https://storybook.js.org/) to create a gallery of our React components. This allows us to view and test these Components with various props, viewports, and states. While the Pal.js UI does not ship with many custom components (beyond Admin), we think it would be helpful to add a simple "Hello World" React component that can be configured to show in Storybook (changi

[2021-06-02 23:13] divideby0 opened #217 "Add configurable logging library"
I've noticed that many parts of the Pal.js code log messages to `console.log`. For many of our production apps, we will use third-party logging libraries like [Pino](https://github.com/pinojs/pino). This allows us to configure the formatting of our logs and also ship logging statements to external systems like Datadog or Elasticsearch.

[2021-06-03 17:01] divideby0 opened #218 "Add example Jest integration test(s)"
We've found it super valuable to be able to test GraphQL queries and mutations based on pre-defined fixture data. But I think it would be very useful to other Pal.js users to provide an example of how this is done (most likely with the example User/Post model).

We have a pretty well-established pattern for this in a private repo that I can share with you @AhmedElywa, but it's loosely based on the

[2021-06-10 17:05] btodorce opened #220 "Error: DateTime was already defined and imported as a type, check the docs for extending types"
Not sure is this related to prisma-tools autogenerating prisma scalars or its cause of prisma.
Current stack is graphql nexus, prisma 2. Apollo server + using prisma-tools to generate crud for a set number of db tables. Trying to extend/overwrite overwrite the default DateTime, to handle cases like non RFC 3339 dates and custom date types with one DateTime scalar. But each time the scalar is added

[2021-06-15 17:07] AhmedElywa commented on #220
I will add an option to be able to remove the default scalar

[2021-06-15 18:30] btodorce commented on #220
Ty! Much appreciated

[2021-06-20 15:12] raymclee opened #221 "Cannot exclude models from generation"
I have below pal.js, when I use pal -g. it still generate all model

[code]

[2021-06-20 15:26] AhmedElywa commented on #221
@raymclee our cli not delete your old files if you delete all `output: "lib/api/graphql",` content and run again will generate the models you put in the pal.js file

[2021-06-20 15:35] raymclee commented on #221
I have tried to change the output to new folder and it still generate all model.

excludeModels also not working but "excludeFieldsByModel" works

[2021-06-20 15:39] AhmedElywa commented on #221
Yes, you are right. working on a fix now

[2021-06-20 15:42] raymclee commented on #221
many thanks!

[2021-06-20 15:45] AhmedElywa commented on #221
Also, you can use  `pal generate User,Shop,Order,OrderItem,Table,Product`

[2021-06-20 15:52] raymclee commented on #221
yeah, that works thanks.

is it possible to get the generated file in lowercase?

[2021-06-20 16:01] AhmedElywa commented on #221
It's hard and will make a breaking change.

you can build a small script to run after our generator to select all folder and change their names
Don't forget to change imports in the index file

[2021-06-20 16:03] raymclee commented on #221
got it. thanks!

[2021-06-21 10:53] btodorce commented on #220
any eta on this, we have a fairly large problem cause of this. We are using it to generate part of our crud, and the default datetime scalar serializes it as UTC while we need it in a specific time zone.

[2021-06-21 11:23] AhmedElywa commented on #220
Sorry for the delay. I was busy last week. I will give it done time today or tomorrow

[2021-06-23 00:21] #221 closed

[2021-06-23 00:25] AhmedElywa commented on #221
this cli issue now fixed in the last version `3.4.0`

[2021-06-23 00:26] AhmedElywa commented on #220
you can add now `excludeScalar` option with an array of excluded scalar `excludeScalar?: ('Json' | 'Decimal' | 'BigInt' | 'DateTime')[];`

[2021-06-23 00:27] #220 closed

[2021-06-25 22:08] AhmedElywa commented on #211
What I get for you is to select id when adding a new message and fetch new data for subscription

[code]

[2021-06-25 22:20] V-ed commented on #211
So forcing the id in the create function and using said id for the pubsub's async iterator... Interesting, will try it out and report back here!

[2021-06-25 22:25] V-ed commented on #211
Unfortunately, the async iterator does not return the ID of the object (the AsyncIterator nodejs object only returns an iterator basically), so this does not work... I don't really know how the async iterator object works in node js, so maybe there's a way to tweak your way to work by creating another async iterator, but I haven't looked enough into that yet.

![image](https://user-images.githubus

[2021-06-25 22:36] AhmedElywa commented on #211
You can add async and try
[code]

[2021-06-25 22:37] V-ed commented on #211
unfortunately no, AsyncIterator is not a `PromiseLike` object (there's no `then` to the object)

[2021-06-25 22:47] V-ed commented on #211
I think I might use [this instead](https://docs.nestjs.com/graphql/subscriptions#mutating-subscription-payloads) : by mutating the result of the payload, I get the id like you tried to do then would do another query to get the proper object

[2021-06-25 22:51] AhmedElywa commented on #211
I think you can do my idea with any way but I don't know how nestjs work

[2021-06-26 13:12] DregondRahl opened #222 "SDL First Json error"
I'm getting this error when i start the service "yarn dev" when my table has a json field with postgres db. Is it an apollo types issue?

[code]

![image](https://user-images.githubusercontent.com/749080/123514009-f1d6bb00-d6ad-11eb-8571-d963842133f3.png)

![image](https://user-images.githubusercontent.com/749080/123514133-f354b300-d6ae-11eb-88e5-9872f09d5395.png)

[2021-06-26 13:26] AhmedElywa commented on #222
You need to add a Json scalar type to your GraphQL resolver https://www.apollographql.com/docs/apollo-server/schema/custom-scalars/

[2021-06-26 14:11] DregondRahl commented on #222
Thanks!

[2021-06-26 14:11] #222 closed

[2021-06-26 14:19] DregondRahl opened #223 "Subscriptions SDL First"
I was able to setup SDL first with Subscriptions, it works fine. But when I run tsc I get a types error in the resolverTypes.ts for Subscriptions.

[code]

resolverTypes.ts : I have no idea what exactly to add here.
[code]

[2021-06-26 16:38] V-ed commented on #211
Just for the record, even though I'm using NestJS, this applies to using [the graphql-subscriptions package](https://www.npmjs.com/package/graphql-subscriptions) (this is where the AsyncIterator comes from) and there are opened issues currently about not being able to use an async function for mutating, which makes your proposed solution impossible to do with that package (instead of returning the

[2021-06-28 19:32] V-ed commented on #211
Actually, nevermind my previous message, with the [Custom AsyncIterator Wrappers](https://github.com/apollographql/graphql-subscriptions#custom-asynciterator-wrappers) method, we can successfully fetch the data with a given id like you initially wanted to do - I even made a small test in my codebase, I'm tweaking it some more and will add it here once done.

However, this made me realize something

[2021-06-29 03:00] BaptisteCayrier opened #224 ""Cannot read property 'dmmf' of undefined""
Hi, I tried to use you tool PrismaSelect (which looks so usefull!) but I faced a little issue:

Here is my code:
[code]

I printed `_require` and `_require.Prisma` is undefined:
[code]

One possible fix could in this same file could be:
[code]

However, I think this is generated code and the correct fix is probably to be done in https://github.com/paljs/prisma-tools/blob/main/packages/plugins/src/

[2021-06-29 15:39] AhmedElywa commented on #224
you need to upgrade prisma to the last version or down our plugin to version 2

[2021-06-29 23:24] BaptisteCayrier commented on #224
Hi, thanks for your answer! Everything working as expected now! :)

I didn't saw this information anywhere on any Readme, maybe you could add it to make sure nobody face this issue again. :)

[2021-06-29 23:26] AhmedElywa commented on #224
you will get this info on the release notes

[2021-06-29 23:26] #224 closed

[2021-06-29 23:28] AhmedElywa commented on #211
what I see is you make your mutation request the same as the subscription request will be best for performance

[2021-06-29 23:28] #211 closed

[2021-07-15 08:32] binary64 opened #225 "Very slow startup time"
Hi, pal is awesome thank you. I have a problem, with 2300 generated files, the line `import * as types from 'generated/types'` is taking something like 45 seconds here. Is there a way we can improve upon this? Would concatenating all these files into 1 giant module be more performant?

[2021-07-24 19:51] nghiepit commented on #1
I just wanted to say thank you for creating the `Prisma Select`!

[2021-07-24 20:30] AhmedElywa commented on #1
@nghiepit Thank you for your positive feedback

[2021-08-08 03:35] AhmedElywa commented on #225
Hi @binary64, let's say we generated all types, mutations, and queries in the same file. You said I have 2300 files, so if you need to update something, how can you do that?

We generate the models in the structure Model name -> mutations, queries, type so you can customize edit your files easy

And our cli does not overwrite the mutations and queries folders. We overwrite only type file when you

[2021-08-12 15:27] btodorce opened #226 "@paljs/nexus using prisma devDependency"
@paljs/nexus is using prisma which is marked as dev dependency to inject the select into prisma db queries.
Can it refactored without to avoid using a dev dependency in production

[2021-08-13 05:12] btodorce commented on #226
import { DMMF } from '@prisma/client/runtime'

[2021-08-13 05:12] #226 closed

[2021-08-20 14:00] binary64 commented on #225
Hi using `0x` I was able to see that paljs is being called for ~50% of the delay I am seeing when starting my nodejs express app.

So I am calling makeSchema() which is part of nexus. Inside that I am specifying paljs as a plugin.

The delay is with the above makeSchema function call. But I'm posting here because I saw lots of paljs in the flamechart.

Do I have to use paljs as a nexus plugin at r

[2021-08-28 22:05] dannysofftie opened #228 "MongoDB support"
Hi team, this is an amazing tool that works really well with relational databases. Does `prisma.onDelete` support MongoDB? If so, an example will be great.

[2021-08-28 22:08] AhmedElywa commented on #228
Hi @dannysofftie,
we need to let you know that on Delete plugin dropped since Prisma now support onDelete
https://www.prisma.io/docs/concepts/components/prisma-schema/relations/referential-actions#cascade

[2021-08-28 22:10] dannysofftie commented on #228
Hi @AhmedElywa, Prisma currently supports `onDelete` on relational databases behind `referentialActions` flag. At the moment, MongoDB is not fully supported. Any thoughts on this?

[2021-08-28 22:11] AhmedElywa commented on #228
Sorry, I have no experience with MongoDB

[2021-08-28 22:13] dannysofftie commented on #228
No worries, much appreciated :+1:

[2021-08-28 22:18] #228 closed

[2021-09-07 06:11] guhyeon opened #229 "pal schema camel-case TypeError: Cannot read property 'replace' of undefined"
OS - window
database - mariadb

1. prisma pull => generated schema.prisma with snake_case
2. pal schema camel-case

[schema.zip](https://github.com/paljs/prisma-tools/files/7119288/schema.zip)

[2021-09-07 22:39] bombillazo opened #230 "Error running cli command with npm/yarn"
Given a package.json script like `  "generate:pal": "pal", `

Running it via yarn or npm in Windows gives you the following error:

![image](https://user-images.githubusercontent.com/44002321/132419009-b35816a6-c36d-462f-9977-4c4463eaea1e.png)

Running it directly on the terminal works as expected.

[2021-09-08 09:26] AhmedElywa commented on #229
Would you please share your complete error message?

[2021-09-08 09:29] AhmedElywa commented on #230
The issue is that I don't have a windows device to test on it will try to fix it

[2021-09-08 11:05] AhmedElywa commented on #229
it's working very good

[code]

[2021-09-08 14:36] bombillazo commented on #230
Hey @AhmedElywa ,I think I know what is happening.

Since the config file for Pal is called `pal.js`, Yarn is trying to directly run the file instead of calling the pal cli installed.

I think a good convention would be to rename the `pal.js` config file to something like `.palrc.js` or `pal.config.js` to avoid conflict

[2021-09-08 14:38] bombillazo commented on #230
In the meantime I will use a .json file but I would prefer to have it as a js file eventually.

[2021-09-09 20:45] BudWhiteStudying opened #231 "Using pal schema with uppercase snake case tables and columns"
I'm trying out Prisma+pal with a database where all tables and columns are written in uppercase snake case e.g. the `AVAILABLE_PRODUCT` table has a `PRODUCT_ID` column and so on.
[code]
Running `pal schema camel-case` produces a `schema.prisma` file where all tables and columns are still uppercased, but with no underscore e.g.
[code]
I guess `pal` assumes that tables and columns are written in low

[2021-09-09 21:02] BudWhiteStudying commented on #231
I dug up a bit more. https://github.com/paljs/prisma-tools/blob/17d8c67f0da89c6c3303f269e4a010fc8135f072/packages/schema/src/camelCase.ts#L74
Using `camelCase` from `lodash` here instead of doing the work yourself would probably be enough
[code]

[2021-09-09 21:11] AhmedElywa commented on #231
hey, @BudWhiteStudying,
I think all that I need to do is add one word
https://github.com/paljs/prisma-tools/blob/17d8c67f0da89c6c3303f269e4a010fc8135f072/packages/schema/src/camelCase.ts#L80

![image](https://user-images.githubusercontent.com/4535142/132763184-48734155-d5fd-4ca8-ae96-04a0c07dd562.png)

[2021-09-09 21:12] AhmedElywa commented on #231
also when I am working I love to do all my work without external packages if this is a small work.

[2021-09-09 21:14] BudWhiteStudying commented on #231
Ah sure, I think that would work too. I typically try to avoid reinventing the wheel by relying on external packages when they're well established, but I completely understand your point.

[2021-09-09 21:15] #231 closed

[2021-09-09 21:19] AhmedElywa commented on #231
Please try v4.0.2

[2021-09-09 21:29] BudWhiteStudying commented on #231
Doesn't seem to work, although I don't understand why. I did everything from scratch with a clean `schema.prisma` file.
[code]
This again generates a model like
[code]

then I ran
[code]
and the result is still
[code]

[2021-09-09 21:46] AhmedElywa commented on #231
it must give you

[code]

and this is wrong and I released another version that has a fix  v4.0.3

[code]

[2021-09-09 21:53] BudWhiteStudying commented on #231
Now it works as intended, except for names without underscores i.e. the `ID` column isn't converted to `id`, the `USER` table isn't converted to `User`.

[2021-09-09 21:55] AhmedElywa commented on #231
because we search for words have `_`

[2021-09-10 09:43] terion-name opened #232 "filterInputs and excludeFields are not working. also would be great more info for filter"
v 3.8.3
I generate input file like this:

[code]

With any combination of `excludeFields` and `filterInputs` (anyone or both) — file output contains these fields.

Also, can callback get some more data for filtering? e.g. fields with `@id`, `@updatedAt` and `@createdAt`  directives should be omitted in general (not by names, but by directives) and even by default I suppose, but there is no data on

[2021-09-10 09:48] AhmedElywa commented on #232
I will look at your code carefully, but you can not use the same props same time. The second one will rewrite the first one.

[2021-09-10 09:53] terion-name commented on #232
@AhmedElywa as I've said I've tried all combos, none work

[2021-09-10 12:33] AhmedElywa commented on #232
@terion-name after looking at my code. I exported the `generateInputsString` function you can use to return a string direct you can use it to build your file without using the `print` function.

https://github.com/paljs/prisma-tools/blob/main/packages/plugins/src/sdlInputs.ts#L104-L99
- we add the two filters. we filter by `filterInputs` first then apply the `excludeFields` filter to the returned

[2021-09-10 16:05] guhyeon commented on #229
Sorry, I can't view that error anymore.
I delete models in schema and prisma pull,
and retry. it works.
thanks.

[2021-09-10 16:05] #229 closed

[2021-09-12 09:47] terion-name commented on #232
@AhmedElywa thank you) I'll test soon

[2021-09-16 17:09] terion-name opened #233 "ModelOrderByInput is not generated"
plugins v4.0.8

genrating crud and inputs with `generateInputsString`.
Given model:

[code]

Query:
[code]

in generated inputs following are present:
- PetitionOrderByWithRelationInput
- PetitionOrderByWithAggregationInput
- PetitionOrderByRelationAggregateInput

But PetitionOrderByInput is not present (obviously leading to an error ` Unknown type: "PetitionOrderByInput"`)

[2021-09-16 17:11] AhmedElywa commented on #233
please see the release notes https://github.com/paljs/prisma-tools/releases/tag/v4.0.0

[2021-09-16 17:12] terion-name commented on #233
@AhmedElywa but it generated query with [PetitionOrderByInput!]

[2021-09-16 17:13] AhmedElywa commented on #233
it's not back to `plugins v4.0.8`
you need to upgrade the `@paljs/cli`

[2021-09-16 17:17] terion-name commented on #233
@AhmedElywa oooh, sorry. that was old generated crud. I use custom generator as an extension to yours to be OpenCRUD compatible and after update it seems to be broken :( Will dig further. Sorry

[2021-09-16 17:26] terion-name commented on #233
@AhmedElywa fixed, thank you

[2021-09-16 17:26] #233 closed

[2021-09-20 16:54] dimaip opened #234 "Securing inverse relations"
I need smth like `filterInputs`, but for CLI types generator (pal g).

My problem is that I'm trying to secure inverse relations added by Prisma, basically I want to hide all of them from GraphQL. I had an idea to suffix the private fields with _ and then do smth like `return input.fields.filter((field) => !field.name.endsWith('_'))`, but only not for inputs, but for actual type fields themselves.

[2021-09-23 15:40] #234 closed

[2021-10-04 14:08] terion-name opened #236 "No order by relation"
Migrating to 4th version, while testing got strange error. Updated all libs (see below) but it didn't help.

Libs:
[code]

Compiled client:
[code]

Given operation:
[code]

Where CategoryOrderByWithRelationInput is:
[code]

And resolver is default:
[code]

Results in:
[code]

Why prisma client knows nothing about `CategoryOrderByWithRelationInput`?

[2021-10-04 15:18] terion-name commented on #236
Sorry, forgot to update prisma dep

[2021-10-04 15:18] #236 closed

[2021-10-05 13:04] terion-name opened #237 "distinct count is not supported"
Be aware that despite docs, distinct counts are not supported, so inputs should be adjusted accordingly.

Issue: https://github.com/prisma/prisma/issues/9590

Developer reply:
<img width="559" alt="Снимок экрана 2021-10-05 в 15 53 29" src="https://user-images.githubusercontent.com/1060205/136026424-ddf8a811-b88b-4db2-8f8a-33c9899feade.png">

[2021-10-07 17:53] terion-name opened #238 "count and cursors"
Trying to run counts with cursors I get the following error from Prisma:
[code]

Maybe it should be considered to remove cursors from count queries at all?
I use a custom generator in my project so changed counts to this:
[code]

[2021-10-08 08:10] nshusr opened #239 "findMany And Count CRUD Errors occur when used in use The `select` statement for type Type must not be empty"
findMany And Count CRUD Errors occur when used in use

[code]

[code]

[2021-10-10 09:48] nshusr commented on #239
that is  nexus-shield plugin problem

[2021-10-10 09:48] #239 closed

[2021-10-31 08:35] jjangga0214 commented on #134
@AhmedElywa Why don't you just change case without `@map`?

`@map` is not allowed to relation because the name of relation is not from database.
It's free and up to use to name it.

We do not need `@map`, but we just can name it camelcase.

[2021-10-31 08:36] jjangga0214 opened #240 "@AhmedElywa Why don't you just change case without `@map`?"
@AhmedElywa Why don't you just change case without `@map`?

`@map` is not allowed to relation because the name of relation is not from database.
It's free and up to use to name it.

We do not need `@map`, but we just can name it camelcase.

_Originally posted by @jjangga0214 in https://github.com/paljs/prisma-tools/issues/134#issuecomment-955659055_

[2021-10-31 08:58] jjangga0214 opened #241 "feat: changing case of model name of single word"
Hi!

`pal schema camel-case` does not change model name if it's a single word and all letters are lowercase.

For example `model foo_bar` is changed well to `model FooBar`, while `model foo` does not.

I think, for consistency, changing every types name to PascalCase would be better in general.

Thanks.

[2021-11-05 10:33] Hxgxn opened #242 "Question about creating own queries and there resolvers"
Hello,

at first I want to say, that your package is really awesome. It makes so many things so easy. But I have a question is it possible to put own queries "next to" the generated ones? For example I want to create a logic into one resolver instead of just findFirst or findUnique. Is this possible?

Greetings
Hagen

[2021-11-05 15:45] mikepuglisi opened #243 "pal g returns error on windows"
I followed the "Getting Started" and received the following error when I run the "generate" npm script

![image](https://user-images.githubusercontent.com/37956042/140538073-14b91dfa-e36d-42a2-bb2e-8aaeb3024c15.png)

It isn't clear to me if "pal" is supposed to be a globally available command that maps to an application via my system PATH.

Note that "pal" is not available globally, but this may b

[2021-11-05 15:59] mikepuglisi commented on #243
I found the solution / workaround on your discord which was posted by another user.

@bombillazo stated: "turns out it was due to a naming conflict in the pal.js file on the root folder. Yarn tris to run that file as the command instead of using the install pal.js cli
my workaround is to change it to pal.json so yarn does not try to run that file"

Once I renamed pal.js to pal.json, I was able to

[2021-11-05 15:59] #243 closed

[2021-11-26 04:50] mubaidr commented on #241
[code]

This, output should be consistent.

[2021-12-02 15:18] terion-name opened #245 "latest versions are not published to npm"
npm packages are outdated. e.g.:
https://www.npmjs.com/package/@paljs/generator — 4.0.12
https://www.npmjs.com/package/@paljs/plugins — 4.0.8

[2021-12-04 17:11] terion-name commented on #245
@AhmedElywa pleeeeease publish latest versions to npm

[2021-12-04 17:17] AhmedElywa commented on #245
I was out last three days
I have an error in building
I will fix it when i back
You can expect to have the new release tomorrow morning EU Time

[2021-12-04 17:52] terion-name commented on #245
@AhmedElywa thank you!

[2021-12-06 17:07] terion-name commented on #245
@AhmedElywa pleeeeease 🙏

[2021-12-06 17:57] AhmedElywa commented on #245
@terion-name sent the last version `4.0.13` with the last prisma version `3.6.0`
why you need it no change happen

[2021-12-06 18:00] AhmedElywa commented on #242
Hi @Hxgxn,
Sorry for the delay. You can do that if you using the `nexus` generator if you use the `SDL` first generator you can't you must add new file with your custom logic

[2021-12-06 18:16] terion-name commented on #245
@AhmedElywa we've updated to prisma 3.6.0 recently in one of my apps in develop. And we've discovered that `generateInputsString`, even without any filters and postprocessing, missing some inputs that are required by prisma. Thought it was some mismatch in prisma engine and generator versions.

Session has many Acts
Act has many

Act model:
[code]

in `updateSession` mutation in `SessionUpdateInpu

[2021-12-06 21:34] AhmedElywa commented on #245
did the new release fixed the issue or still there I already have the same issue for my app

[2021-12-07 14:07] terion-name commented on #245
@AhmedElywa nope, after update inputs are the same (

[2021-12-07 15:47] terion-name commented on #245
@AhmedElywa it seems that it is on prisma's side :(

https://github.com/prisma/prisma/issues/9989

[2021-12-09 16:57] nazarii-marko opened #246 "PrismaSelect "Cannot convert undefined or null to object" on custom scalar field"
It seems there's an issue in filterBy() while processing the custom scalar.
Graphql schema:
[code]
schema.prisma:
[code]

scalar resolver:
[code]
The error is thrown on `new PrismaSelect(info).value` and I managed to track it down to `filterBy` method, specifically this check: `Object.keys(subModelFilter.select).length > 0`. The issue is that `field.kind` returns `object`, whereas `subModelFilter`

[2021-12-10 08:48] guhyeon opened #247 "Mark-sweep (reduce) 8189.3 (8201.4) -> 8188.8 (8202.9) MB, 370.6 / 0.0 ms (+ 0.0 ms in 128 steps since start of marking, biggest step 0.0 ms, walltime since start of marking 434 ms) (average mu = 0.299, current mu = [13000:0000020E9332A0A0] 100058 ms: Mark-sweep (reduce"
It is impossible to install package because of heap out of memory.

package.json
    "@paljs/cli": "3.8.2"

$ yarn
yarn install v1.22.10
warning ..\package.json: No license field
info No lockfile found.
[1/4] Resolving packages...
warning @paljs/cli > @prisma/sdk > temp-write > uuid@3.4.0: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which

[2021-12-26 01:41] rdmchr opened #248 "generate script throws error"
When running the generate script I get the following error:
[code]
I also had to install `prisma` and `@prisma/client`, since those were not installed for some reason. Is my installation broken or what went wrong here?
Furthermore, do I find it strange, that the pal.js file opens when I run the `npm run generate` command since that does not happen when I just run `pal g`...
The template I chose wa

[2021-12-26 14:00] AhmedElywa commented on #248
the issue is because you are working on windows we pass this option to the ts-node command `'{"module":"CommonJS"}'`
it's working correctly on my side MacOS,
sorry I don't have any windows PC to check and fix

look at this line in the `package.json` file `"ts-node": "ts-node -r tsconfig-paths/register --compiler-options '{\"module\":\"CommonJS\"}'",`

[2022-01-13 14:50] terion-name opened #249 "Union types in Prisma Select support"
Union types are not supported at all :(

[code]

Gives:
[code]

I understand that unions are not part of prisma, but it would be great to have this for custom queries.

Format TBD, but as a variant something like this:
[code]

[2022-01-17 22:40] ielireb commented on #1
I have trouble with @@id. its giving me error.

[2022-01-25 10:20] nshusr opened #250 "Many-to-many relations generate type not is origin model"
doc: https://www.prisma.io/docs/concepts/components/prisma-schema/relations/many-to-many-relations

schema.prisma
[code]

post type
[code]

[2022-01-29 08:54] ZenSoftware opened #252 "Simple one-to-many apollo SDL first code generation not working"
Hello @AhmedElywa! 🎎

Pal.js apollo SDL first code generation does not seem to be working with a very simple _one-to-many_ schema.  I have created [a bare minimum reproduction](https://github.com/ZenSoftware/pal-repro) of this Pal.js bug for you by cloning your [prisma-tools/packages/create/examples/apollo-sdl-first](https://github.com/paljs/prisma-tools/tree/main/packages/create/examples/apollo-s

[2022-02-04 19:26] Frosty21 commented on #221
is `excludeQueriesAndMutationsByModel` working? could you show and example. im trying but it seems like its not working
within my pal.js file
[code]

[2022-02-08 13:07] nitheshb opened #253 "findMany Mutation used with take argument is returning empty array for child/related Tables"
Empty array is being returned,When tried to retrieve rows from related tables with take condition. Parent rows and values are being retrieved successfully

findManyParentTab(take: 2){
name
location
childTable1{
childname
childlocation
}
}

result:

[
{'name': 'Arya',
'location': 'winterfall',
childTable1: []},
{'name': 'Tyrion',
'location': 'Lanister',
childTable1: []},
]

[2022-02-24 10:58] renaldasrep opened #255 "pal won't generate arguments when using mysql provider"
Example schema:
[code]

graphql/item/queries/findUnique.ts
[code]

Notice the missing `args` part (example copied from graphql/Group/queries/findUnique.ts generated in `pal c` example)
[code]

Are there any workarounds aside from manually adding arguments?

[2022-02-24 11:20] renaldasrep commented on #255
upon further investingation I found that the original issue is not what I thought it was, so I updated the name and description
thankfully I can work around this quite easily

[2022-02-24 23:30] ajhollowayvrm opened #256 "Schema CamelCase not handling @default("{}") correctly"
schema.prisma before
[code]

schema.prisma after `pal schema camel-case`
[code]

Notice it seems to copy everything after the closing `}` character and repeat it minus the map.

I'm on the latest versions of PalJS and Prisma. Any help would be appreciated.

[2022-02-25 08:50] AhmedElywa commented on #256
I already fixed this in the last version 4.0.14

[2022-02-25 20:56] ajhollowayvrm commented on #256
Hmm I'm using this command `npx @paljs/cli schema camel-case` and this command `pal schema camel-case` on this version
[code]

and I'm still getting this error.

[2022-02-26 10:56] #256 closed

[2022-03-10 08:19] renaldasrep opened #257 "Applying PrismaSelect "where" clause to resolvers of type globally"
Hey!

I'll try to explain what I'm trying to achieve first:

I'm using prisma, nexus and paljs generated graphql and I have some models, lets say: User, Post, Note

User can create posts and add notes to those posts, but I want the user to be only able to query for their own Notes or "public" notes that don't have a user specified, and not other users' Notes

Current approach is to use PrismaSelec

[2022-04-01 13:26] chribjel opened #258 ""SyntaxError: Unexpected token" when you have "@@map" in your schema enums"
I have a `@@map` on my prisma Enums, and this triggers a SyntaxError when running `pal schema typescript`

[2022-04-24 17:50] arthurfiorette opened #259 "PrismaSelect uses deprecated `graphql-fields`"
In their own [documentation](https://github.com/robrichard/graphql-fields#deprecation-notice). They recommend us to migrate to [graphql-parse-resolve-info](https://www.npmjs.com/search?q=graphql-parse-resolve-info).

[2022-04-24 17:53] arthurfiorette commented on #249
Yeah, this would be pretty good.

In a simple approach, just returning two major objects with their selections would also be sufficient, like:

[code]

Of course, the above just an example to clarify this idea.

[2022-05-13 20:57] lifedup opened #260 "PrismaSelect - better typescript support"
Can we get better type support for PrismaSelect `defaultOptions`  select function - by default, it's set to `any`.

I'd like a way to pass our own `defaultOptions` type.

 I have my options fully typed, and this is currently what I'm doing for Nexus autogenerated types.

Note: Nexus autogenerated types are dynamic objects.

[code]

[2022-05-20 16:01] Atlinx opened #261 "@paljs/cli doesn't work at all on Windows"
When I run pal using `npx pal`, I get a blank line and the CLI exits. The workaround I've been using is WSL, however, WSL is very slow in accessing files from Windows drives (ie. `C:\\`), making the CLI slow as well.

[2022-05-20 16:14] Atlinx commented on #261
It looks like the problem was having the config file named `pal.js`. I've renamed it to `pal.config.js`, and I've used `npx pal generate --config=pal.config.js` to run the generator.

[2022-05-20 16:14] #261 closed

[2022-05-20 16:16] AhmedElywa commented on #261
Yes good catch I will change the default config file to be `pal.config.js`

[2022-05-20 16:41] Atlinx opened #262 ""pal create" with npm generates scripts that use yarn"

[2022-05-22 00:37] baileygranam opened #263 "PrismaSelect not working for deeply nested queries"
I have the following query:
[code]

However, when running PrismaSelect on this example it is only returning:
[code]

Which is resulting in an error: `Cannot return null for non-nullable field Company.users.`

[2022-05-22 01:01] #263 closed

[2022-05-30 04:33] simonjoom opened #264 "implementation code update for prisma3 using nexus-plugin-prisma with crud support (nexus-prisma is too early stage)"
Hi,
i did some success to make work the dashboard with prisma3 and the old nexus-plugin-prisma with crud support
Just here to share some code and thought , in aim to help others and to save the hack process

nexus-prisma seems still not stable,and  i found nexus-plugin-prisma interesting because the crud support

prisma has got some breaking code.
https://github.com/graphql-nexus/nexus-plugin-pris

[2022-05-30 04:54] simonjoom commented on #195
i m not sure but my work might help:
i made a paljs working with prisma1 crud system using a verison moded of nexus-plugin-prisma
https://github.com/paljs/prisma-tools/issues/264

[2022-06-02 06:15] mohammed-gehad opened #265 "prisma-table: adding custom fields on 1 to n and n to m relations."
hello everyone, in my use case i needed to to render a custom cell on the table on a field that have one to many relation, but all that's been queried is the id from the other table on the relation. I'm sure many will need the same feature in order to custom render relation cell instead of directing the user into a new table page.

I'm ready to make the pull request. but before that i need to know

[2022-06-02 07:18] mohammed-gehad commented on #265
OK, I've just read that in the code, and fieldModel.displayFields.forEach(...) in getFields does the job.

[2022-06-02 07:18] #265 closed

[2022-06-03 16:06] oceandrama opened #266 "Install using yarn berry throws an error"
Command:
[code]
Result:
[code]

[2022-06-22 18:53] Cauen opened #267 "[bug][admin] Filter breaks application after adding second filter when first not completed"
When we apply a second filter before complete first, application breaks trying to access `id` of the filter, inside filter list.

![image](https://user-images.githubusercontent.com/8796757/175114195-d73506fa-73d6-4774-a3fe-1bff6dfe4d9b.png)

I've just fixed that error and will send a PR.

[2022-06-22 19:51] #267 closed

[2022-06-23 15:18] Cauen opened #269 "[nexus-generator][bug] Args not being generated for Models that are lowercase at first letter"
When we generate `InputTypes` with the Nexus Plugin. The generated arg types is not `capitalized`.
Example:
![image](https://user-images.githubusercontent.com/8796757/175333443-14ba5635-f1df-4fd8-81c4-b9778c5bc726.png)

When we generate nexus backend, the [generator enforce](https://github.com/paljs/prisma-tools/blob/main/packages/generator/src/nexus/templates/index.ts#L72-L77) a capitalize on arg

[2022-06-23 16:04] #269 closed

[2022-06-23 16:33] Cauen opened #271 "[bug][admin] Admin table not working with no capitalized models"
Once models in resolver names are Capitalized on Nexus Generator, we need to Capitalize in requests of [Prisma Table](https://paljs.com/prisma-admin#prisma-table)

Now, models are creating this resolvers

| Model       | Resolver                          | Request from AdminTable | Ok? |
|-------------|----------------------|-------------------------|-----|
| commom_user | createOneCommom_user | c

[2022-07-01 07:31] mohammed-bahumaish opened #273 "@paljs/nexus : NEXUS__UNKNOWN__TYPE was already defined when updating to prisma 4.0.0"
I'm using nexus plugin for input types in a nexus Graphql server.
but when updating to Prisma 4 I got this error ` NEXUS__UNKNOWN__TYPE   was already defined when` .
when rolling back to Prisma 3.5 it works fine.

[2022-07-05 08:21] icazemier opened #274 "Update dependencies please"
Please update your dependencies in @paljs/cli 🙏🏻

It is depending on a **_deprecated_** `@prisma/sdk` which in turns uses an **_outdated_** `temp-write`:

[code]

[2022-07-05 09:37] AhmedElywa commented on #274
I am working on that now to update prisma version to prisma 4 and fix all breaking changes

[2022-07-05 09:38] AhmedElywa commented on #273
I am working on that now to update prisma version to prisma 4 and fix all breaking changes

[2022-07-08 18:57] AaravShah042 opened #275 "Excessive stack depth comparing types"
I am using pal.js auto-generated where type into nexus custom resolver and it has circular dependency due to AND and OR options
So it is returning excessive stack depth type due to circular dependency

issue:- https://github.com/microsoft/TypeScript/issues/29112#issuecomment-1171544923

Error message
[code]

Typescript version:- v4.6.4
@paljs/cli: "4.1.0",
@paljs/nexus: "4.1.0",

[2022-07-18 14:08] AhmedElywa commented on #259
already did that now but working in another staff before push

[2022-07-29 08:38] mniemiec92 commented on #249
Guys, is there any chance to add this functionality?

[2022-08-07 15:16] Fatezhang opened #276 "Is there any recommended way to customize the PrismaTable CSS?"
Hey!

I like the CURD feature very much, https://prisma-admin.paljs.com/admin. And I'm going to build my project which will have similar pages with `prisma admin`. I'd like to use `PrismaTable` so that I don't need to build the same wheels.

But I can't find any good way to customize PrismaTable, is there any document I missed, or PrismaTable doesn't support doing this?

And also, is it possible t

[2022-08-07 15:18] AhmedElywa commented on #276
You can find the docs here https://paljs.com/prisma-admin

and you can't customize the query names for now

[2022-08-07 15:30] Fatezhang commented on #276
Awesome thanks @AhmedElywa, I think I should find other ways to achieve this.

BTW, may I suggest `prisma tool` supports multi data sources? For DB1 and DB2 both have table `user`, maybe it's better to add some identification on the query name？

[2022-08-14 12:24] mikaelkaron commented on #274
Any updates on this?

[2022-08-25 21:26] jbaum012 opened #278 "Incorrect typing on nullable typescript schema"
Nullable types such as `birthDate` in the `pal schema typescript` example are being compiled to:
[code]
instead of the correct type of:
[code]

This causes typescript errors when retrieving models from `prisma` queries.

[2022-09-07 05:26] yograf commented on #274
@AhmedElywa thanks for this great lib, can you share your prisma 4 code. I'll try to help and create PR to move it forward.

[2022-09-12 17:39] whekin opened #279 "PrismaDelete doesn't remove same model relations"
Let's say I want to have specialPosts along with posts in the User model (from the pal js example schema), like this:
<img width="511" alt="image" src="https://user-images.githubusercontent.com/39103584/189717771-db33343b-0078-4c76-8487-24444bf0a320.png">
<img width="598" alt="image" src="https://user-images.githubusercontent.com/39103584/189717938-26e1d818-dcd6-4da1-965e-a45a8f6f8ffb.png">

I set

[2022-09-12 18:11] AhmedElywa commented on #279
Hi @whekin, We dropped this class a long time ago because Prisma support this now https://www.prisma.io/docs/concepts/components/prisma-schema/relations/referential-actions#types-of-referential-actions

[2022-09-13 10:23] whekin commented on #279
@AhmedElywa Thank you for reply! It makes sense. I think paljs.com docs should mention it though

[2022-09-15 11:16] Pipemax32 opened #280 "yarn generate Throws error: NEXUS__UNKNOWN__TYPE was already defined and imported as a type, check the docs for extending types"
When running yarn generate, after generating the prisma client, yarn throws this error and stops. Prisma and nexus version used are the default ones when creating a project via CLI, node version is 16.14.0

[2022-09-17 13:27] li9269391 commented on #280
Using 'pal c' to create a "full-stack-nextjs" project has the same problem

[2022-09-17 19:40] brunoti opened #281 "Why the Nexus generator doens't handle relation includes?"
All the find queries generated by the paljs nexus generator don't seem to care about the include field. So that rises two questions:

1. How are you guys handling this in your generated apis?
2. Does paljs has any intention to add this on the generator?

[2022-09-17 19:43] #281 closed

[2022-09-17 19:43] brunoti commented on #281
Just found out that it as my misunderstanding of GraphQL

[2022-09-26 16:49] ginkenta opened #282 "Error in camel case type relation generating"
In case of generating relation with table named in snake_case the type isn\`t generated properly.
To check you can specify the table with snake_case in relation field, for example with pgm:
`pgm.createTable('some_table', {
...,
some_field_id: {
type: 'uuid',
notNull: true,
references: '"another_table"(id)',
})`

another_table type reference won`t generated properly.

To convert it was used the nex

[2022-09-28 14:08] joaquimnetocel opened #283 "sdlInputs not working because of changes in prisma."
The "sdlInputs.ts" is not working because of changes in prisma 4.

As pointed [here](https://www.prisma.io/docs/guides/upgrade-guides/upgrading-versions/upgrading-to-prisma-4#prisma-no-longer-exports-prismadmmfschema-into-the-generated-prisma-client), Prisma no longer exports Prisma.dmmf.schema into the generated Prisma Client.

I don't know if it helps, but the new getDMMF function can be importe

[2022-10-06 23:55] MitchellMonaghan commented on #273
Is there any progress update on this?

[2022-10-19 09:53] simonjoom commented on #280
I found the error too, the prisma package version of paljs is not a correct one , 3.16 for node14 should be reverted to 3.15
Just overwrite the prisma with:
yarn install prisma@3.15 @prisma/client@3.15

[2022-10-19 09:55] simonjoom commented on #273
need to use the last prisma 3.15
because the one used by paljs 3.16 for node 14 seems buggy

[2022-10-19 14:20] #276 closed

[2022-10-22 12:26] zakariamofaddel commented on #280
I temporarily solve this issue by following the steps I listed in [another issue](https://github.com/paljs/prisma-tools/issues/283#issuecomment-1287127772), hope this helps!

[2022-10-24 14:46] amitozalvo commented on #273
I was able to fix this issue by manually generating DMMF when the app starts
`import { getDMMF, getSchema } from '@prisma/internals';`
`const dmmf = await getDMMF({ datamodel: await getSchema() })`

And providing the DMMF to the paljs plugin when calling `makeSchema`
`
  plugins: [paljs({ dmmf: [dmmf] })]
`

[2022-10-31 13:36] joaoflaviosantos commented on #248
Use this

[code]

[2022-10-31 13:37] joaoflaviosantos commented on #248
Use this:

[code]

https://github.com/TypeStrong/ts-node/issues/992#issuecomment-605117906

[2022-11-03 17:50] AhmedElywa commented on #259
This issue request is in #284

[2022-11-03 17:51] AhmedElywa commented on #273
This issue request is in #284

[2022-11-03 17:52] AhmedElywa commented on #274
This issue request is in #284

[2022-11-03 17:53] AhmedElywa commented on #279
This issue request is in #284

[2022-11-03 17:53] AhmedElywa commented on #280
This issue request is in #284

[2022-11-03 17:53] AhmedElywa commented on #283
This issue request is in #284

[2022-11-08 14:12] AhmedElywa commented on #248
Create a new file, `tsconfig-nexus.json`

[code]

`package.json`

[code]

[2022-11-08 15:20] rdmchr commented on #248
I no longer use GraphQL, so this issue no longer applies to me.
Feel free to close the issue if a fix is available.

[2022-11-08 15:31] #248 closed

[2022-11-17 17:05] #283 closed

[2022-11-17 17:05] #279 closed

[2022-11-17 17:05] #273 closed

[2022-11-17 17:06] #274 closed

[2022-11-24 11:15] simmons-kyle opened #287 "sdlInputs on v5.0.0 onwards"
I was encountering the same issue mentioned on #283 however upon upgrading to the latest version of `@paljs/plugins` (5.0.3) I can see that the implementation of the `sdlInputs` import has changed.

Firstly the documented example throws an error on the import for sdlInputs:

[code]

Looking at the source it seems like packages/plugins/src/sdlInputs.ts was drastically changed in the [commit ](https

[2022-11-24 11:32] AhmedElywa commented on #287
As we said in the `v5.0.0` notes we have breaking changes https://github.com/paljs/prisma-tools/releases/tag/v5.0.0

[code]

[2022-11-24 11:33] AhmedElywa commented on #287
You don't need to dmmf again
you need to move
[code]

    to pal.config.js file

[2022-11-25 15:05] simmons-kyle commented on #287
Ah sorry I totally missed the notes about the change to `sdlInputs` - my mistake.

However after installing v5.0.3 when I run `pal g` I'm not finding the `InputTypes` being created. I initially thought it was due to the fact I was using the `javaScript: true` flag in the config but even removing that so it generates in typescript does not yield the InputTypes folder after `pal g` executes.

[2022-11-25 15:26] AhmedElywa commented on #287
You need to upgrade the @paljs/cli too

[2022-11-25 15:41] simmons-kyle commented on #287
I knew it would be something simple like that - thank you!

[2022-11-25 15:46] #287 closed